BODY {
	FONT-SIZE: 12px; BACKGROUND: url(../images/head_bg.gif) repeat-x; OVERFLOW-X: hidden; FONT-FAMILY: Arial, Helvetica, sans-serif
}
 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
A.noline {
	TEXT-DECORATION: none
}
.warp {
	MARGIN: auto; WIDTH: 960px
}
.clear {
	CLEAR: both
}
.right {
	FLOAT: right
}
.tabs .one EM {
	FLOAT: right
}
.tabs .two EM {
	FLOAT: right
}
.left {
	FLOAT: left
}
#head {
	MARGIN-TOP: -5px; OVERFLOW: hidden; POSITION: relative; HEIGHT: 62px
}
#head A#logo {
	BACKGROUND: url(/images/2008logo.gif); LEFT: 0px; WIDTH: 200px; TEXT-INDENT: -99em; POSITION: absolute; TOP: 7px; HEIGHT: 52px
}
#head DIV#ban {
	BACKGROUND: url(../../../../../../../..//images/slogan11.gif); LEFT: 154px; WIDTH: 170px; POSITION: absolute; TOP: 10px; HEIGHT: 19px
}
#head SPAN.nav {
	RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; LINE-HEIGHT: 20px; POSITION: absolute; TOP: 10px; HEIGHT: 20px
}
#head SPAN.nav A {
	FONT-SIZE: 12px
}
#head SPAN.search {
	RIGHT: 0px; POSITION: absolute; TOP: 36px
}
#head SPAN.search SPAN {
	DISPLAY: block; WIDTH: 355px; POSITION: relative; HEIGHT: 20px
}
#head SPAN.search SPAN INPUT {
	BORDER-RIGHT: #06c 1px solid; BORDER-TOP: #06c 1px solid; PADDING-LEFT: 20px; BACKGROUND: url(../../../../../../../..//images/sousou.gif) no-repeat left top; LEFT: 78px; BORDER-LEFT: #06c 1px solid; WIDTH: 167px; PADDING-TOP: 3px; BORDER-BOTTOM: #06c 1px solid; POSITION: absolute; TOP: 0px; HEIGHT: 17px
}
#head SPAN.search SPAN SELECT {
	WIDTH: 77px
}
#footer SPAN SELECT {
	WIDTH: 77px
}
#head SPAN.search SPAN INPUT.submit {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../../../../../../../..//images/btn_search2.gif) no-repeat 0px 0px; LEFT: 275px; PADDING-BOTTOM: 0px; WIDTH: 72px; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; TOP: 0px; HEIGHT: 22px; BORDER-BOTTOM-STYLE: none
}
#footer SPAN INPUT.submit {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../../../../../../../..//images/btn_search2.gif) no-repeat 0px 0px; LEFT: 275px; PADDING-BOTTOM: 0px; WIDTH: 72px; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; TOP: 0px; HEIGHT: 22px; BORDER-BOTTOM-STYLE: none
}
#head SPAN.search INPUT.submitmove {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../../../../../../../..//images/btn_search2.gif) no-repeat 0px -22px; LEFT: 275px; PADDING-BOTTOM: 0px; WIDTH: 72px; CURSOR: pointer; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; TOP: 0px; HEIGHT: 22px; BORDER-BOTTOM-STYLE: none
}
#footer SPAN INPUT.submitmove {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../../../../../../../..//images/btn_search2.gif) no-repeat 0px -22px; LEFT: 275px; PADDING-BOTTOM: 0px; WIDTH: 72px; CURSOR: pointer; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; TOP: 0px; HEIGHT: 22px; BORDER-BOTTOM-STYLE: none
}
#menutop {
	PADDING-RIGHT: 3px; MARGIN-TOP: 7px; PADDING-LEFT: 3px; BACKGROUND: url(../../../../../../../..//images/menu_l1_bg.gif); PADDING-BOTTOM: 3px; OVERFLOW: hidden; PADDING-TOP: 3px; HEIGHT: 30px
}
#menutop DIV.warp A {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; FLOAT: left; WIDTH: 92px; COLOR: #fff; LINE-HEIGHT: 33px; HEIGHT: 33px; TEXT-ALIGN: center; TEXT-DECORATION: none
}
#menutop DIV.right A {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: left; WIDTH: 92px; COLOR: #fff; LINE-HEIGHT: 33px; HEIGHT: 33px; TEXT-ALIGN: center; TEXT-DECORATION: none
}
#menutop DIV.warp A.nav_title {
	BACKGROUND: url(../../../../../../../..//images/menu_l1_now_bg.gif); COLOR: #000
}
#menutop DIV.warp A:hover {
	BACKGROUND: url(../../../../../../../..//images/menu_l1_now_bg.gif); COLOR: #000
}
.nav {
	BACKGROUND: url(../../../../../../../..//images/menu_l2_bg.gif) repeat-x 50% top; PADDING-BOTTOM: 10px; WIDTH: 900px
}
.nav DIV {
	MARGIN: auto; OVERFLOW: hidden; WIDTH: 960px; LINE-HEIGHT: 30px; HEIGHT: 30px
}
.nav DIV A {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 0px; COLOR: #000; PADDING-TOP: 0px; TEXT-ALIGN: center; TEXT-DECORATION: underline
}
