BODY {
	COLOR: #333333; BACKGROUND-COLOR: #004b97
}
A:link {
	COLOR: #000088
}
A:visited {
	COLOR: #000088
}
LABEL {
	COLOR: #334d55
}
#pagecell {
	BACKGROUND-COLOR: #ffffff
}
#pageNav {
	BORDER-RIGHT: #9797ff 1px solid; BORDER-TOP: #9797ff 1px solid; BORDER-LEFT: #9797ff 1px solid; BORDER-BOTTOM: #9797ff 1px solid; BACKGROUND-COLOR: #e9e8ff
}
#leftNav {
	BORDER-RIGHT: #9797ff 1px solid; BORDER-TOP: #9797ff 1px solid; BORDER-LEFT: #9797ff 1px solid; BORDER-BOTTOM: #9797ff 1px solid; BACKGROUND-COLOR: #e9e8ff
}
#rightNav {
	BORDER-RIGHT: #9797ff 1px solid; BORDER-TOP: #9797ff 1px solid; BORDER-LEFT: #9797ff 1px solid; BORDER-BOTTOM: #9797ff 1px solid; BACKGROUND-COLOR: #e9e8ff
}
#content {
	BACKGROUND-COLOR: #ffffff
}
.contentTitle {
	BORDER-RIGHT: #9797ff 1px solid; BORDER-TOP: #9797ff 1px solid; BORDER-LEFT: #9797ff 1px solid; COLOR: #003366; BORDER-BOTTOM: #9797ff 1px solid; BACKGROUND-COLOR: #bfbfff
}
#siteName {
	BACKGROUND-IMAGE: url(img4/top.jpg); COLOR: #ccccdd; BACKGROUND-COLOR: #b997ff
}
#siteName A {
	COLOR: #ccccdd
}
#globalNav {
	BORDER-RIGHT: #9797ff 1px outset; BORDER-TOP: #9797ff 1px outset; BACKGROUND-IMAGE: url(img4/glbnav_background.gif); BORDER-LEFT: #9797ff 1px outset; COLOR: #cccccc; BORDER-BOTTOM: #9797ff 1px outset; BACKGROUND-COLOR: #e4d7ff
}
A.glink {
	BORDER-RIGHT: #9797ff 1px solid; COLOR: #000000
}
A.glink:visited {
	BORDER-RIGHT: #9797ff 1px solid; COLOR: #000000
}
A.glink:hover {
	BACKGROUND-IMAGE: url(img4/glblnav_selected.gif)
}
#siteInfo {
	BORDER-TOP: #9797ff 1px solid; COLOR: #cccccc
}
.relatedLinks {
	BORDER-BOTTOM: #9797ff 1px solid
}
.relatedLinksTitle {
	BORDER-TOP: #ffffff 1px solid; COLOR: #003366; BORDER-BOTTOM: #9797ff 1px solid; BACKGROUND-COLOR: #bfbfff
}
.button {
	BORDER-RIGHT: #9797ff 1px solid; BORDER-TOP: #9797ff 1px solid; BACKGROUND-IMAGE: url(img4/bg_nav.jpg); BORDER-LEFT: #9797ff 1px solid; COLOR: #bfbfff; BORDER-BOTTOM: #9797ff 1px solid
}
.calMonthToday {
	COLOR: red
}
.story {
	BORDER-RIGHT: #9797ff 1px solid; BORDER-TOP: #9797ff 1px solid; BORDER-LEFT: #9797ff 1px solid; BORDER-BOTTOM: #9797ff 1px solid; BACKGROUND-COLOR: #e9e8ff
}
.storyTitle {
	COLOR: #003366; BORDER-BOTTOM: #9797ff 1px solid; BACKGROUND-COLOR: #bfbfff
}
.storyposted {
	
}
.storytext blockquotexxx {
	BORDER-TOP: #9797ff 1px solid; BORDER-BOTTOM: #9797ff 1px solid
}
.code {
	BORDER-RIGHT: #9797ff 1px solid; BORDER-TOP: #9797ff 1px solid; BORDER-LEFT: #9797ff 1px solid; BORDER-BOTTOM: #9797ff 1px solid
}
