.xspace-layout1 #sideleft {
	FLOAT: left; WIDTH: 190px
}
.xspace-layout1 .mainarea-side {
	MARGIN-LEFT: 197px; WIDTH: 560px
}
.xspace-layout2 #sideright {
	FLOAT: right; WIDTH: 190px
}
.xspace-layout2 .mainarea-side {
	FLOAT: left; WIDTH: 560px
}
.xspace-layout3 #sideleft {
	FLOAT: left; WIDTH: 190px
}
.xspace-layout3 #sideright {
	FLOAT: right; WIDTH: 190px
}
.xspace-layout3 .mainarea-side {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 370px; PADDING-TOP: 0px
}
.xspace-imgstyle {
	BORDER-LEFT-COLOR: #f1cba6; BACKGROUND: #e7e5d0; BORDER-BOTTOM-COLOR: #f1cba6; BORDER-TOP-COLOR: #f1cba6; BORDER-RIGHT-COLOR: #f1cba6
}
H1.xspace-title {
	BACKGROUND: #e7e4cf; COLOR: #d73310
}
.xspace-blocktitle {
	FONT-SIZE: 1em; OVERFLOW: hidden
}
.sidearea .xspace-blocktitle {
	PADDING-LEFT: 35px; BACKGROUND: url(../../images/red/sidearea_title_bg.gif) #c62e0e no-repeat left top; COLOR: #feffb8; LINE-HEIGHT: 32px; HEIGHT: 28px
}
#mainarea .xspace-blocktitle {
	PADDING-LEFT: 40px; BACKGROUND: url(../../images/red/mainarea_title_bg.jpg) #e7e5d0 no-repeat left top; COLOR: #d73310; LINE-HEIGHT: 37px; HEIGHT: 33px
}
LI.xspace-loglist H4.xspace-entrytitle {
	BACKGROUND-COLOR: #e7e4cf
}
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../../images/red/background_top.gif) #a8290b repeat-x; PADDING-BOTTOM: 0px; MARGIN: 0px; FONT: 12px Arial, Helvetica, sans-serif; COLOR: #000; PADDING-TOP: 0px; TEXT-ALIGN: center
}
INPUT {
	FONT: 1em Arial, Helvetica, sans-serif
}
TEXTAREA {
	FONT: 1em Arial, Helvetica, sans-serif
}
SELECT {
	FONT: 1em Arial, Helvetica, sans-serif
}
BUTTON {
	FONT: 1em Arial, Helvetica, sans-serif
}
#wrap {
	BORDER-RIGHT: #fff 5px solid; BORDER-TOP: #fff 5px solid; BACKGROUND: #f7f4ea; MARGIN: 1em auto; OVERFLOW: hidden; BORDER-LEFT: #fff 5px solid; WIDTH: 760px; BORDER-BOTTOM: #fff 5px solid; TEXT-ALIGN: left
}
#header {
	BACKGROUND: url(../../images/red/header_bg.gif) #f7a873 repeat-x 50% top; BORDER-BOTTOM: #fff 1px solid; HEIGHT: 132px
}
#header  {
	COLOR: #feffb8
}
#spacename {
	FLOAT: left; OVERFLOW: hidden; WIDTH: 240px; HEIGHT: 132px
}
#menu {
	FLOAT: right; WIDTH: 500px; PADDING-TOP: 40px; HEIGHT: 70px
}
#menu UL {
	FLOAT: right; MARGIN: 0px 1em 0px 0px
}
#menu LI {
	DISPLAY: block; FLOAT: left; MARGIN: 0px; WIDTH: 52px; TEXT-ALIGN: center
}
#menu LI A {
	DISPLAY: block; BACKGROUND: no-repeat 50% top; WIDTH: 52px; PADDING-TOP: 50px; HEIGHT: 20px; TEXT-DECORATION: none
}
#menu LI A.xspace-blog {
	BACKGROUND-IMAGE: url(../../images/red/menu_icon_blog.gif)
}
#menu LI A.xspace-image {
	BACKGROUND-IMAGE: url(../../images/red/menu_icon_photo.gif)
}
#menu LI A.xspace-goods {
	BACKGROUND-IMAGE: url(../../images/red/menu_icon_goods.gif)
}
#menu LI A.xspace-friend {
	BACKGROUND-IMAGE: url(../../images/red/menu_icon_friend.gif)
}
#menu LI A.xspace-link {
	BACKGROUND-IMAGE: url(../../images/red/menu_icon_link.gif)
}
#menu LI A.xspace-file {
	BACKGROUND-IMAGE: url(../../images/red/menu_icon_file.gif)
}
#menu LI A.xspace-mybbs {
	BACKGROUND-IMAGE: url(../../images/red/menu_icon_bbs.gif)
}
#menu LI A.xspace-guestbook {
	BACKGROUND-IMAGE: url(../../images/red/menu_icon_guestbook.gif)
}
#menu A:hover {
	BACKGROUND-POSITION: 0px -70px; COLOR: #fff; TEXT-DECORATION: none
}
#content {
	BACKGROUND: url(../../images/red/header_bg.gif) repeat-x left -133px
}
.sidearea {
	BACKGROUND: url(../../images/red/sidearea_top_bg.gif) #d73310 repeat-x 50% top; OVERFLOW: hidden; COLOR: #e3bb7d; PADDING-TOP: 10px
}
A {
	COLOR: #006; TEXT-DECORATION: underline
}
A:hover {
	TEXT-DECORATION: none
}
A:visited {
	COLOR: #099
}
.sidearea A {
	COLOR: #e3bb7d! important
}
#xspace-imgnavbar {
	BORDER-LEFT-COLOR: #f1cba6; BORDER-BOTTOM-COLOR: #f1cba6; BORDER-TOP-COLOR: #f1cba6; BORDER-RIGHT-COLOR: #f1cba6
}
.xspace-noticemsg {
	BORDER-LEFT-COLOR: #f1cba6; BORDER-BOTTOM-COLOR: #f1cba6; BORDER-TOP-COLOR: #f1cba6; BORDER-RIGHT-COLOR: #f1cba6
}
#announcement {
	BORDER-LEFT-COLOR: #f1cba6; BORDER-BOTTOM-COLOR: #f1cba6; BORDER-TOP-COLOR: #f1cba6; BORDER-RIGHT-COLOR: #f1cba6
}
.xspace-itemlist LI {
	BORDER-LEFT-COLOR: #f1cba6; BORDER-BOTTOM-COLOR: #f1cba6; BORDER-TOP-COLOR: #f1cba6; BORDER-RIGHT-COLOR: #f1cba6
}
.xspace-imagebox {
	BORDER-LEFT-COLOR: #f1cba6; BORDER-BOTTOM-COLOR: #f1cba6; BORDER-TOP-COLOR: #f1cba6; BORDER-RIGHT-COLOR: #f1cba6
}
#xspace-filebaseinfo LI {
	BORDER-LEFT-COLOR: #f1cba6; BORDER-BOTTOM-COLOR: #f1cba6; BORDER-TOP-COLOR: #f1cba6; BORDER-RIGHT-COLOR: #f1cba6
}
#xspace-goodsbaseinfo LI {
	BORDER-LEFT-COLOR: #f1cba6; BORDER-BOTTOM-COLOR: #f1cba6; BORDER-TOP-COLOR: #f1cba6; BORDER-RIGHT-COLOR: #f1cba6
}
#xspace-aplist TH {
	BORDER-LEFT-COLOR: #f1cba6; BORDER-BOTTOM-COLOR: #f1cba6; BORDER-TOP-COLOR: #f1cba6; BORDER-RIGHT-COLOR: #f1cba6
}
#xspace-aplist TD {
	BORDER-LEFT-COLOR: #f1cba6; BORDER-BOTTOM-COLOR: #f1cba6; BORDER-TOP-COLOR: #f1cba6; BORDER-RIGHT-COLOR: #f1cba6
}
.xspace-msgmodule H5 {
	BORDER-LEFT-COLOR: #f1cba6; BORDER-BOTTOM-COLOR: #f1cba6; BORDER-TOP-COLOR: #f1cba6; BORDER-RIGHT-COLOR: #f1cba6
}
.xspace-addoninfo {
	BORDER-LEFT-COLOR: #f1cba6; BORDER-BOTTOM-COLOR: #f1cba6; BORDER-TOP-COLOR: #f1cba6; BORDER-RIGHT-COLOR: #f1cba6
}
.xspace-itemlinks {
	BORDER-LEFT-COLOR: #f1cba6; BORDER-BOTTOM-COLOR: #f1cba6; BORDER-TOP-COLOR: #f1cba6; BORDER-RIGHT-COLOR: #f1cba6
}
.xspace-itemtag {
	BORDER-LEFT-COLOR: #f1cba6; BORDER-BOTTOM-COLOR: #f1cba6; BORDER-TOP-COLOR: #f1cba6; BORDER-RIGHT-COLOR: #f1cba6
}
#xspace-itemreply DT {
	BORDER-LEFT-COLOR: #f1cba6; BORDER-BOTTOM-COLOR: #f1cba6; BORDER-TOP-COLOR: #f1cba6; BORDER-RIGHT-COLOR: #f1cba6
}
#xspace-itemform FIELDSET {
	BORDER-LEFT-COLOR: #f1cba6; BORDER-BOTTOM-COLOR: #f1cba6; BORDER-TOP-COLOR: #f1cba6; BORDER-RIGHT-COLOR: #f1cba6
}
TABLE.xspace-page A {
	BORDER-LEFT-COLOR: #f1cba6; BORDER-BOTTOM-COLOR: #f1cba6; BORDER-TOP-COLOR: #f1cba6; BORDER-RIGHT-COLOR: #f1cba6
}
#xspace-ownerinfo {
	BORDER-LEFT-COLOR: #f1cba6; BORDER-BOTTOM-COLOR: #f1cba6; BORDER-TOP-COLOR: #f1cba6; BORDER-RIGHT-COLOR: #f1cba6
}
#xspace-aplist .xspace-ontop TD {
	BACKGROUND: #f1cba6
}
#xspace-rates A {
	BACKGROUND: #f1cba6
}
TABLE.xspace-page TD.xspace-current {
	BACKGROUND: #f1cba6
}
TABLE.xspace-page A {
	BACKGROUND: #e7e4cf
}
TABLE.xspace-page TD.xspace-totlerecord {
	BACKGROUND: #e7e4cf
}
TABLE.xspace-page TD.xspace-totlepages {
	BACKGROUND: #e7e4cf
}
.xspace-listtab A {
	BACKGROUND: #e7e4cf
}
