BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 1.16em; PADDING-TOP: 0px; FONT-FAMILY: Arial,sans-serif
}
A:link {
	TEXT-DECORATION: none
}
A:visited {
	TEXT-DECORATION: none
}
A:hover {
	TEXT-DECORATION: underline
}
FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
LABEL {
	FONT: bold 1em Arial,sans-serif
}
INPUT {
	FONT-FAMILY: Arial,sans-serif
}
#pagecell {
	MARGIN-TOP: 15px; MARGIN-LEFT: 2%; MARGIN-RIGHT: 2%; PADDING-TOP: 5px; min-width: 640px
}
#tl {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; Z-INDEX: 100; LEFT: -1px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; POSITION: absolute; TOP: -1px
}
#tr {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; Z-INDEX: 100; RIGHT: -1px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; POSITION: absolute; TOP: -1px
}
#masthead {
	MARGIN-TOP: 5px; MARGIN-LEFT: 2%; WIDTH: 95.6%; MARGIN-RIGHT: 2%
}
#pageNav {
	BORDER-RIGHT: 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: 1px solid; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 5px 3px 5px 4px; FONT: small Verdana,sans-serif; BORDER-LEFT: 1px solid; WIDTH: 178px; PADDING-TOP: 0px; BORDER-BOTTOM: 1px solid
}
#leftNav {
	BORDER-RIGHT: 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: 1px solid; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px 3px 0px 4px; FONT: small Verdana,sans-serif; OVERFLOW: hidden; BORDER-LEFT: 1px solid; WIDTH: 178px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px solid
}
#rightNav {
	CLEAR: left; BORDER-RIGHT: 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: 1px solid; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px 3px 0px 4px; FONT: small Verdana,sans-serif; OVERFLOW: hidden; BORDER-LEFT: 1px solid; WIDTH: 178px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px solid
}
#content {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; MARGIN: 0px 0px 0px 195px; PADDING-TOP: 0px
}
.contentTitle {
	BORDER-RIGHT: 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: 1px solid; PADDING-LEFT: 10px; MARGIN-BOTTOM: 10px; PADDING-BOTTOM: 5px; FONT: bold small Arial,sans-serif; BORDER-LEFT: 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: 1px solid
}
#pagefoot {
	CLEAR: both
}
#siteName {
	PADDING-RIGHT: 0px; PADDING-LEFT: 20px; PADDING-BOTTOM: 8px; MARGIN: 0px; FONT: bold 160% Arial,sans-serif; PADDING-TOP: 30px; HEIGHT: 60px
}
#siteName A {
	
}
#globalNav {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 99.9%; PADDING-TOP: 0px; POSITION: relative; TOP: 5px; HEIGHT: 32px; min-width: 640px
}
#globalNav IMG {
	MARGIN-BOTTOM: -4px
}
#gnl {
	LEFT: 0px; POSITION: absolute; TOP: 0px
}
#gnr {
	RIGHT: 0px; POSITION: absolute; TOP: 0px
}
#globalLink {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: small; Z-INDEX: 100; LEFT: 10px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; POSITION: absolute; TOP: 7px; HEIGHT: 22px; min-width: 640px
}
A.glink {
	BORDER-RIGHT: 1px solid; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: small; PADDING-BOTTOM: 4px; MARGIN: 0px; PADDING-TOP: 2px
}
A.glink:visited {
	BORDER-RIGHT: 1px solid; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: small; PADDING-BOTTOM: 4px; MARGIN: 0px; PADDING-TOP: 2px
}
A.glink:hover {
	TEXT-DECORATION: none
}
.skipLinks {
	DISPLAY: none
}
#search {
	Z-INDEX: 101; RIGHT: 10px; POSITION: absolute; TOP: 7px
}
#search INPUT {
	FONT-SIZE: 70%; MARGIN: 0px 0px 0px 10px
}
.relatedLinks {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 11px; PADDING-BOTTOM: 10px; MARGIN: 0px; LINE-HEIGHT: 1.5em; PADDING-TOP: 10px; BORDER-BOTTOM: 1px solid
}
.relatedLinksTitle {
	PADDING-RIGHT: 0px; BORDER-TOP: #ffffff 1px solid; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: small; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; BORDER-BOTTOM: 1px solid; TEXT-ALIGN: center
}
.relatedLinks A {
	
}
.relatedLinks TABLE TR TH {
	FONT-WEIGHT: normal
}
.relatedLinks IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; VERTICAL-ALIGN: middle; PADDING-TOP: 5px; BORDER-RIGHT-WIDTH: 0px
}
.button {
	BORDER-RIGHT: 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: 1px solid; PADDING-LEFT: 0px; FONT-SIZE: small; PADDING-BOTTOM: 4px; BORDER-LEFT: 1px solid; PADDING-TOP: 4px; BORDER-BOTTOM: 1px solid; TEXT-ALIGN: center
}
.linkimg {
	BACKGROUND: silver
}
.calMonthToday {
	
}
.story {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; MARGIN-TOP: 0px; FONT-SIZE: small; MARGIN-BOTTOM: 8px; OVERFLOW: hidden; BORDER-LEFT: 1px solid; BORDER-BOTTOM: 1px solid; TOP: 5px
}
.storyTitle {
	PADDING-RIGHT: 0px; BORDER-TOP: #ffffff 1px solid; PADDING-LEFT: 10px; PADDING-BOTTOM: 5px; FONT: bold 100% Arial,sans-serif; PADDING-TOP: 5px; BORDER-BOTTOM: 1px solid
}
.noDisplay {
	DISPLAY: none
}
.storyInfo {
	PADDING-RIGHT: 5px; DISPLAY: none; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; MARGIN: 10px 5px 5px 15px; OVERFLOW: hidden; PADDING-TOP: 5px
}
.storyDate {
	FONT-WEIGHT: normal; FONT-SIZE: x-small; FONT-STYLE: oblique; TEXT-ALIGN: right
}
.storytext {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; LINE-HEIGHT: 1.4em; PADDING-TOP: 3px
}
.storytext P {
	MARGIN-TOP: 7px; MARGIN-BOTTOM: 7px
}
.storyposted {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 11px; PADDING-BOTTOM: 5px; PADDING-TOP: 10px
}
.storytext blockquotexxx {
	BORDER-TOP: 1px solid; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; BORDER-BOTTOM: 1px solid
}
.code {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; PADDING-LEFT: 5px; MARGIN-LEFT: 2em; OVERFLOW: auto; BORDER-LEFT: 1px solid; WIDTH: 85%; MARGIN-RIGHT: 2em; BORDER-BOTTOM: 1px solid
}
.code PRE {
	FONT-SIZE: small
}
