BODY {
	COLOR: #333333; BACKGROUND-COLOR: #771c77
}
A:link {
	COLOR: #6c0052
}
A:visited {
	COLOR: #6c0052
}
LABEL {
	COLOR: #330000
}
#pagecell {
	BACKGROUND-COLOR: #ffffff
}
#pageNav {
	BORDER-RIGHT: #fea3ec 1px solid; BORDER-TOP: #fea3ec 1px solid; BORDER-LEFT: #fea3ec 1px solid; BORDER-BOTTOM: #fea3ec 1px solid; BACKGROUND-COLOR: #ffe8ff
}
#leftNav {
	BORDER-RIGHT: #fea3ec 1px solid; BORDER-TOP: #fea3ec 1px solid; BORDER-LEFT: #fea3ec 1px solid; BORDER-BOTTOM: #fea3ec 1px solid; BACKGROUND-COLOR: #ffe8ff
}
#rightNav {
	BORDER-RIGHT: #fea3ec 1px solid; BORDER-TOP: #fea3ec 1px solid; BORDER-LEFT: #fea3ec 1px solid; BORDER-BOTTOM: #fea3ec 1px solid; BACKGROUND-COLOR: #ffe8ff
}
#content {
	BACKGROUND-COLOR: #ffffff
}
.contentTitle {
	BORDER-RIGHT: #fea3ec 1px solid; BORDER-TOP: #fea3ec 1px solid; BORDER-LEFT: #fea3ec 1px solid; COLOR: #330000; BORDER-BOTTOM: #fea3ec 1px solid; BACKGROUND-COLOR: #fec2f2
}
#siteName {
	BACKGROUND-IMAGE: url(img5/top.jpg); COLOR: #ccccdd; BACKGROUND-COLOR: #b997ff
}
#siteName A {
	COLOR: #ccccdd
}
#globalNav {
	BORDER-RIGHT: #fea3ec 1px outset; BORDER-TOP: #fea3ec 1px outset; BACKGROUND-IMAGE: url(img5/glbnav_background.gif); BORDER-LEFT: #fea3ec 1px outset; COLOR: #cccccc; BORDER-BOTTOM: #fea3ec 1px outset; BACKGROUND-COLOR: #e4d7ff
}
A.glink {
	BORDER-RIGHT: #fea3ec 1px solid; COLOR: #000000
}
A.glink:visited {
	BORDER-RIGHT: #fea3ec 1px solid; COLOR: #000000
}
A.glink:hover {
	BACKGROUND-IMAGE: url(img5/glblnav_selected.gif)
}
#siteInfo {
	BORDER-TOP: #fea3ec 1px solid; COLOR: #cccccc
}
.relatedLinks {
	BORDER-BOTTOM: #fea3ec 1px solid
}
.relatedLinksTitle {
	BORDER-TOP: #ffffff 1px solid; COLOR: #330000; BORDER-BOTTOM: #fea3ec 1px solid; BACKGROUND-COLOR: #fec2f2
}
.button {
	BORDER-RIGHT: #fea3ec 1px solid; BORDER-TOP: #fea3ec 1px solid; BACKGROUND-IMAGE: url(img5/bg_nav.jpg); BORDER-LEFT: #fea3ec 1px solid; COLOR: #bfbfff; BORDER-BOTTOM: #fea3ec 1px solid
}
.calMonthToday {
	COLOR: red
}
.story {
	BORDER-RIGHT: #fea3ec 1px solid; BORDER-TOP: #fea3ec 1px solid; BORDER-LEFT: #fea3ec 1px solid; BORDER-BOTTOM: #fea3ec 1px solid; BACKGROUND-COLOR: #ffe8ff
}
.storyTitle {
	COLOR: #330000; BORDER-BOTTOM: #fea3ec 1px solid; BACKGROUND-COLOR: #fec2f2
}
.storyposted {
	
}
.storytext blockquotexxx {
	BORDER-TOP: #fea3ec 1px solid; BORDER-BOTTOM: #fea3ec 1px solid
}
.code {
	BORDER-RIGHT: #fea3ec 1px solid; BORDER-TOP: #fea3ec 1px solid; BORDER-LEFT: #fea3ec 1px solid; BORDER-BOTTOM: #fea3ec 1px solid; BACKGROUND-COLOR: #fec2f2
}
