BODY {
	MARGIN: 0px
}
IMG {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H5 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H6 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
OL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
TD {
	FONT-SIZE: 9pt; LINE-HEIGHT: 1.5
}
BODY {
	FONT-SIZE: 9pt; MARGIN: 0px; LINE-HEIGHT: 1.5
}
DIV {
	FONT-SIZE: 9pt; LINE-HEIGHT: 1.5
}
.h1 {
	FONT-SIZE: 11pt; MARGIN: 0px
}
.h2 {
	FONT-SIZE: 10pt; MARGIN: 0px
}
A:link {
	FONT-SIZE: 9pt; COLOR: #000000; TEXT-DECORATION: none
}
A:visited {
	FONT-SIZE: 9pt; COLOR: #000000; TEXT-DECORATION: none
}
A:hover {
	FONT-SIZE: 9pt; COLOR: #ff3300
}
A.h1:link {
	FONT-SIZE: 11pt; COLOR: #000000; TEXT-DECORATION: underline
}
A.h1:visited {
	FONT-SIZE: 11pt; COLOR: #000000; TEXT-DECORATION: underline
}
A.h1:hover {
	FONT-SIZE: 11pt; COLOR: red
}
A.ulink:link {
	FONT-SIZE: 10pt; COLOR: #aa2716; TEXT-DECORATION: underline
}
A.ulink:visited {
	FONT-SIZE: 10pt; COLOR: #c57f41; TEXT-DECORATION: underline
}
A.ulink:hover {
	FONT-SIZE: 10pt; COLOR: red
}
.tbspan {
	MARGIN-BOTTOM: 3px
}
.kw1 {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; WIDTH: 170px; BORDER-BOTTOM: #cccccc 1px solid; HEIGHT: 20px
}
.op1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 1px 0px 0px; WIDTH: 105px; PADDING-TOP: 0px; HEIGHT: 20px
}
.guidet {
	BORDER-RIGHT: #a9cced 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #a9cced 1px solid; PADDING-LEFT: 1px; BORDER-LEFT: #a9cced 1px solid
}
.guideb {
	BORDER-RIGHT: 1px; PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; BORDER-LEFT: 1px; PADDING-TOP: 3px; BORDER-BOTTOM: 1px
}
.inddline {
	BORDER-BOTTOM: #d7ded1 1px dashed
}
.mbline {
	BORDER-BOTTOM: #ababab 1px dashed
}
.indl1 {
	BORDER-BOTTOM: #efefef 1px solid
}
.inda {
	BORDER-BOTTOM: #ffffff 1px dashed
}
.indb {
	BORDER-BOTTOM: #efefef 1px dashed
}
.indt1 {
	BORDER-RIGHT: #cdcdcd 1px solid; BORDER-TOP: #cdcdcd 1px solid; FONT-SIZE: 10pt; BORDER-LEFT: #cdcdcd 1px solid; COLOR: #333333
}
.indt2 {
	BORDER-RIGHT: #cdcdcd 1px solid; BORDER-TOP: #cdcdcd 1px solid; FONT-SIZE: 10pt; BORDER-LEFT: #cdcdcd 1px solid; COLOR: #333333
}
.STYLE1 {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; WORD-SPACING: normal; FONT-FAMILY: "ו"; LETTER-SPACING: 3px
}
.STYLE1 A {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #000000; LETTER-SPACING: 3px; TEXT-DECORATION: none
}
.STYLE1 A:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #000000; LETTER-SPACING: 3px; TEXT-DECORATION: none
}
.STYLE1 A:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #ff0000; LETTER-SPACING: 3px; TEXT-DECORATION: none
}
.STYLE09 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; WORD-SPACING: normal; COLOR: #ffff00; LETTER-SPACING: 2px
}
.wzright {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; WORD-SPACING: normal; COLOR: #ffff00; LETTER-SPACING: 2px
}
.guidebl {
	BORDER-RIGHT: 1px; PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; BORDER-LEFT: 1px; PADDING-TOP: 3px; BORDER-BOTTOM: 1px; BACKGROUND-COLOR: #f6f6f6
}
.STYLE08 {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; WORD-SPACING: normal; LETTER-SPACING: 3px
}
.STYLE08 A {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #000000; LETTER-SPACING: 3px; TEXT-DECORATION: none
}
.STYLE08 A:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #000000; LETTER-SPACING: 3px; TEXT-DECORATION: none
}
.STYLE08 A:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #ffff00; LETTER-SPACING: 3px; TEXT-DECORATION: none
}
.STYLE2 {
	FONT-SIZE: 12px
}
.STYLE3 A {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #b01d10
}
.STYLE3 A:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ff3300; TEXT-DECORATION: underline
}
.menu {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; TEXT-DECORATION: none
}
.menu A {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; TEXT-DECORATION: none
}
.menu A:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #ffffff; TEXT-DECORATION: none
}
.menu A:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffff00; TEXT-DECORATION: none
}
.topmenu {
	FONT-SIZE: 12px; COLOR: #ffffff; TEXT-DECORATION: none
}
.topmenu A {
	FONT-SIZE: 12px; COLOR: #ffffff; TEXT-DECORATION: none
}
.topmenu A:visited {
	FONT-SIZE: 9pt; COLOR: #ffffff; TEXT-DECORATION: none
}
.topmenu A:hover {
	FONT-SIZE: 12px; COLOR: #ffff00; TEXT-DECORATION: none
}
.filesimg {
	BACKGROUND-POSITION: left bottom; BACKGROUND-ATTACHMENT: scroll; BACKGROUND-REPEAT: no-repeat
}
