BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; BACKGROUND: #fff; PADDING-BOTTOM: 0px; MARGIN: 0px auto; COLOR: #000; PADDING-TOP: 0px; FONT-FAMILY: Arial,"ו",sans-serif; TEXT-ALIGN: center
}
FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
INPUT {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
SELECT {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
IMG {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
A IMG {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
INPUT {
	FONT-SIZE: 12px; VERTICAL-ALIGN: middle
}
SELECT {
	FONT-SIZE: 12px; VERTICAL-ALIGN: middle
}
INPUT {
	PADDING-TOP: 2px
}
.button {
	BORDER-RIGHT: #d9d9d9 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #d9d9d9 1px solid; PADDING-LEFT: 3px; BACKGROUND: url(button_bg.jpg) repeat-x 50% top; PADDING-BOTTOM: 3px; BORDER-LEFT: #d9d9d9 1px solid; PADDING-TOP: 3px; BORDER-BOTTOM: #d9d9d9 1px solid; HEIGHT: 21px
}
.textarea {
	BACKGROUND: url(textarea_bg.jpg) no-repeat right bottom; WIDTH: 630px; HEIGHT: 150px
}
A {
	COLOR: #0457b3; TEXT-DECORATION: none
}
A:visited {
	COLOR: #83006f; TEXT-DECORATION: none
}
A:hover {
	COLOR: #222; TEXT-DECORATION: underline
}
TABLE {
	FONT-SIZE: 12px; BORDER-COLLAPSE: collapse
}
TD {
	LINE-HEIGHT: 18px
}
.red {
	COLOR: #ff0000
}
.note {
	FONT-SIZE: 12px; COLOR: #666
}
.other {
	COLOR: #003300
}
.clear {
	CLEAR: both; FONT: 0px/0px sans-serif
}
.fr {
	FLOAT: right
}
.fl {
	FLOAT: left
}
.name {
	FONT-WEIGHT: bold; COLOR: #07427e
}
#top {
	DISPLAY: none
}
#main {
	MARGIN: 0px auto; WIDTH: 100%
}
.m_bg {
	WIDTH: 100%
}
.c_box {
	WIDTH: 100%
}
.c_ad {
	DISPLAY: none
}
.station {
	FLOAT: left; MARGIN: 0px; COLOR: #545454; TEXT-ALIGN: left
}
.station A {
	COLOR: #545454; TEXT-DECORATION: none
}
.station A:visited {
	COLOR: #545454; TEXT-DECORATION: none
}
.station A:hover {
	COLOR: #545454; TEXT-DECORATION: underline
}
.c_bgcolor {
	FLOAT: left; WIDTH: 100%
}
.c_bgcolor H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 24px; PADDING-BOTTOM: 0px; MARGIN: 20px 0px 15px; PADDING-TOP: 0px
}
.c_bgcolor H5 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 14px; PADDING-BOTTOM: 0px; MARGIN: 30px 0px 10px; COLOR: #3d3d3d; PADDING-TOP: 0px; TEXT-ALIGN: left
}
.text {
	COLOR: #545454
}
#contant {
	FONT-SIZE: 14px; WIDTH: 100%
}
#contant P {
	MARGIN: 15px 0px; TEXT-ALIGN: left
}
.mutuality {
	DISPLAY: none
}
.entryheader {
	DISPLAY: none
}
.entrydate {
	DISPLAY: none
}
.entrybody {
	DISPLAY: none
}
.narrow {
	DISPLAY: none
}
.line20 {
	CLEAR: both; MARGIN: 0px auto; HEIGHT: 20px
}
.footer {
	DISPLAY: none
}
