BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; BACKGROUND: #fff; PADDING-BOTTOM: 0px; MARGIN: 0px auto; COLOR: #3b3b3b; PADDING-TOP: 0px; FONT-FAMILY: Arial,"ו",sans-serif; TEXT-ALIGN: center
}
FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
INPUT {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
SELECT {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
IMG {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
A IMG {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
INPUT {
	FONT-SIZE: 12px; VERTICAL-ALIGN: middle; FONT-FAMILY: Arial
}
SELECT {
	FONT-SIZE: 12px; VERTICAL-ALIGN: middle; FONT-FAMILY: Arial
}
TEXTAREA {
	FONT-SIZE: 12px; VERTICAL-ALIGN: middle; FONT-FAMILY: Arial
}
INPUT {
	PADDING-TOP: 2px
}
.button {
	BORDER-RIGHT: #d9d9d9 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #d9d9d9 1px solid; PADDING-LEFT: 3px; BACKGROUND: url(../images/button_bg.jpg) repeat-x 50% top; PADDING-BOTTOM: 3px; BORDER-LEFT: #d9d9d9 1px solid; LINE-HEIGHT: 14px; PADDING-TOP: 3px; BORDER-BOTTOM: #d9d9d9 1px solid; HEIGHT: 21px
}
.textarea {
	BACKGROUND: url(../images/textarea_bg.jpg) no-repeat right bottom; WIDTH: 565px; HEIGHT: 120px
}
.clearit {
	CLEAR: both
}
A {
	COLOR: #0457b3; TEXT-DECORATION: none
}
A:visited {
	COLOR: #83006f; TEXT-DECORATION: none
}
A:hover {
	COLOR: #222; TEXT-DECORATION: underline
}
TABLE {
	FONT-SIZE: 12px; BORDER-COLLAPSE: collapse
}
TD {
	LINE-HEIGHT: 18px
}
.red {
	COLOR: #ff0000
}
.note {
	FONT-SIZE: 12px; COLOR: #666
}
.other {
	COLOR: #003300
}
.clear {
	CLEAR: both; FONT: 0px/0px sans-serif
}
.fr {
	FLOAT: right
}
.fl {
	FLOAT: left
}
.name {
	FONT-WEIGHT: bold; COLOR: #07427e
}
#top {
	MARGIN: 10px auto 0px; WIDTH: 900px
}
#header {
	FLOAT: left; WIDTH: 900px
}
#header A {
	COLOR: #000; TEXT-DECORATION: none
}
#header A:visited {
	COLOR: #000; TEXT-DECORATION: none
}
#header A:hover {
	COLOR: #000; TEXT-DECORATION: underline
}
.t_r {
	FLOAT: right; TEXT-ALIGN: right
}
.t_r P {
	MARGIN: 0px 0px 8px; WIDTH: 600px; HEIGHT: 22px
}
.input_s {
	BORDER-RIGHT: #c9dde3 1px solid; BORDER-TOP: #c9dde3 1px solid; BORDER-LEFT: #c9dde3 1px solid; WIDTH: 200px; BORDER-BOTTOM: #c9dde3 1px solid
}
.input2 {
	BORDER-RIGHT: #c9dde3 1px solid; BORDER-TOP: #c9dde3 1px solid; BORDER-LEFT: #c9dde3 1px solid; WIDTH: 50px; BORDER-BOTTOM: #c9dde3 1px solid
}
.logo {
	FLOAT: left; WIDTH: 260px; HEIGHT: 48px
}
#nav {
	BORDER-RIGHT: #bcd4ea 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #bcd4ea 1px solid; PADDING-LEFT: 30px; BACKGROUND: url(../images/menu_bg.jpg) repeat-x; FLOAT: left; PADDING-BOTTOM: 0px; BORDER-LEFT: #bcd4ea 1px solid; WIDTH: 868px; LINE-HEIGHT: 32px; PADDING-TOP: 0px; BORDER-BOTTOM: #bcd4ea 1px solid; HEIGHT: 32px; TEXT-ALIGN: center
}
#nav UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#nav UL LI {
	FLOAT: left; POSITION: relative
}
#nav UL LI A {
	PADDING-RIGHT: 15px; DISPLAY: block; PADDING-LEFT: 15px; FLOAT: left; PADDING-BOTTOM: 0px; COLOR: #000; PADDING-TOP: 0px; HEIGHT: 32px; TEXT-DECORATION: none
}
#nav UL LI A:visited {
	PADDING-RIGHT: 15px; DISPLAY: block; PADDING-LEFT: 15px; FLOAT: left; PADDING-BOTTOM: 0px; COLOR: #000; PADDING-TOP: 0px; HEIGHT: 32px; TEXT-DECORATION: none
}
 HTML #nav UL LI A {
	PADDING-RIGHT: 15px; DISPLAY: block; PADDING-LEFT: 15px; BACKGROUND: url(../images/menu_bg.jpg) repeat-x; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#nav UL LI A:visited {
	PADDING-RIGHT: 15px; DISPLAY: block; PADDING-LEFT: 15px; BACKGROUND: url(../images/menu_bg.jpg) repeat-x; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#nav UL LI UL {
	DISPLAY: none
}
#nav TABLE {
	FONT-SIZE: 12px; MARGIN: -1px; BORDER-COLLAPSE: collapse
}
#nav UL LI:hover A {
	COLOR: #000
}
#nav UL LI A:hover {
	COLOR: #000; TEXT-DECORATION: underline
}
#main {
	MARGIN: 0px auto; WIDTH: 900px
}
.m_bg {
	MARGIN-TOP: 10px; BACKGROUND: url(../images/main_bg.jpg) repeat-y; FLOAT: left; WIDTH: 900px
}
.m_middle_bg {
	BACKGROUND: url(../images/main_middle_bg.jpg); FLOAT: left; MARGIN: 0px; WIDTH: 20px; HEIGHT: 345px
}
.bottom_xian {
	FONT-SIZE: 0px; BACKGROUND: url(../images/newview_botx.gif) no-repeat 0px 1px; FLOAT: left; WIDTH: 900px; HEIGHT: 1px
}
.c_box {
	BORDER-TOP: #c5c6c6 1px solid; FLOAT: left; WIDTH: 602px
}
.c_ad {
	PADDING-RIGHT: 0px; PADDING-LEFT: 1px; PADDING-BOTTOM: 5px; WIDTH: 602px; PADDING-TOP: 5px; BORDER-BOTTOM: #c5c6c6 1px solid; HEIGHT: 90px; TEXT-ALIGN: center
}
.c_ad IMG {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.station {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 590px; COLOR: #545454; LINE-HEIGHT: 30px; PADDING-TOP: 0px; BORDER-BOTTOM: #e2e2e2 1px solid; HEIGHT: 30px; TEXT-ALIGN: left
}
.station A {
	COLOR: #545454; TEXT-DECORATION: none
}
.station A:visited {
	COLOR: #545454; TEXT-DECORATION: none
}
.station A:hover {
	COLOR: #545454; TEXT-DECORATION: underline
}
.box {
	BORDER-RIGHT: #98ccf0 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #98ccf0 1px solid; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 10px; MARGIN: 10px 0px 0px; BORDER-LEFT: #98ccf0 1px solid; WIDTH: 898px; PADDING-TOP: 0px; BORDER-BOTTOM: #98ccf0 1px solid
}
.station2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 888px; COLOR: #545454; LINE-HEIGHT: 30px; PADDING-TOP: 0px; BORDER-BOTTOM: #e2e2e2 1px solid; HEIGHT: 30px; TEXT-ALIGN: left
}
.station2 A {
	COLOR: #545454; TEXT-DECORATION: none
}
.station2 A:visited {
	COLOR: #545454; TEXT-DECORATION: none
}
.station2 A:hover {
	COLOR: #545454; TEXT-DECORATION: underline
}
.c_box2 {
	PADDING-RIGHT: 20px; PADDING-LEFT: 20px; FONT-SIZE: 14px; FLOAT: left; PADDING-BOTTOM: 20px; OVERFLOW: hidden; WIDTH: 858px; LINE-HEIGHT: 1.8em; PADDING-TOP: 20px; TEXT-ALIGN: left
}
.c_bgcolor {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; BACKGROUND: #f8fafb; FLOAT: left; PADDING-BOTTOM: 10px; BORDER-LEFT: #c5c6c6 1px solid; WIDTH: 579px; PADDING-TOP: 10px; BORDER-BOTTOM: #e2e2e2 1px solid
}
.c_bgcolor H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 24px; PADDING-BOTTOM: 0px; MARGIN: 20px 0px 15px; PADDING-TOP: 0px
}
.c_bgcolor H5 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 14px; PADDING-BOTTOM: 0px; MARGIN: 30px 0px 10px; COLOR: #3d3d3d; PADDING-TOP: 0px; TEXT-ALIGN: left
}
.text {
	COLOR: #545454
}
.text A {
	COLOR: #0457b3; TEXT-DECORATION: none
}
.text A:visited {
	COLOR: #0457b3; TEXT-DECORATION: none
}
.text A:hover {
	COLOR: #222; TEXT-DECORATION: underline
}
#contant {
	FONT-SIZE: 14px; MARGIN: 10px auto 0px; OVERFLOW: hidden; WIDTH: 560px; WORD-BREAK: break-all; LINE-HEIGHT: 1.8em; TEXT-ALIGN: left; WORD-WRAP: break-word
}
#contant P {
	MARGIN: 15px 0px
}
.down_about {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; BACKGROUND: #fff; PADDING-BOTTOM: 5px; MARGIN: 20px auto 0px; WIDTH: 500px; PADDING-TOP: 5px; HEIGHT: 105px
}
.down_about UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.down_about UL LI {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; FONT-SIZE: 12px; FLOAT: left; PADDING-BOTTOM: 2px; MARGIN: 5px 10px 0px; OVERFLOW: hidden; WIDTH: 220px; PADDING-TOP: 2px; TEXT-ALIGN: left
}
#contant1 {
	MARGIN-TOP: 10px; FONT-SIZE: 14px; OVERFLOW: hidden; WIDTH: 560px; WORD-BREAK: break-all; LINE-HEIGHT: 1.8em; TEXT-ALIGN: left; WORD-WRAP: break-word
}
#contant1 P {
	MARGIN: 15px 0px
}
.mutuality1 {
	FLOAT: left; WIDTH: 560px
}
.mutuality1 H5 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 20px; FONT-SIZE: 14px; BACKGROUND: url(icon01.gif) no-repeat; PADDING-BOTTOM: 0px; MARGIN: 20px 0px 10px; COLOR: #000; LINE-HEIGHT: 20px; PADDING-TOP: 0px; BORDER-BOTTOM: #666666 1px solid; HEIGHT: 20px; TEXT-ALIGN: left
}
.mutuality1 UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; TEXT-ALIGN: left
}
.mutuality1 UL LI {
	PADDING-RIGHT: 3px; DISPLAY: block; PADDING-LEFT: 12px; FONT-SIZE: 14px; BACKGROUND: url(arrow.gif) no-repeat 0px 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; OVERFLOW: hidden; LINE-HEIGHT: 1.3em; PADDING-TOP: 8px; TEXT-ALIGN: left
}
.mutuality1 UL LI A {
	COLOR: #000; TEXT-DECORATION: none
}
.mutuality1 UL LI SPAN {
	FLOAT: right; MARGIN: 0px; COLOR: #666
}
.mutuality {
	FLOAT: left; WIDTH: 285px
}
.mutuality H5 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 20px; FONT-SIZE: 14px; BACKGROUND: url(../images/icon01.gif) no-repeat; PADDING-BOTTOM: 0px; MARGIN: 20px 0px 10px; COLOR: #000; LINE-HEIGHT: 20px; PADDING-TOP: 0px; HEIGHT: 20px; TEXT-ALIGN: left
}
.mutuality UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; TEXT-ALIGN: left
}
.mutuality UL LI {
	PADDING-RIGHT: 3px; DISPLAY: block; PADDING-LEFT: 12px; FONT-SIZE: 12px; BACKGROUND: url(arrow.gif) no-repeat 0px 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; OVERFLOW: hidden; LINE-HEIGHT: 1.3em; PADDING-TOP: 8px; TEXT-ALIGN: left
}
.mutuality UL LI A {
	COLOR: #555; TEXT-DECORATION: none
}
.mutuality UL LI A:visited {
	COLOR: #555; TEXT-DECORATION: none
}
.mutuality UL LI A:hover {
	COLOR: red; TEXT-DECORATION: underline
}
.entryheader {
	PADDING-RIGHT: 30px; PADDING-LEFT: 30px; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: url(../images/icon03.gif) no-repeat 8px 5px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 540px; LINE-HEIGHT: 30px; PADDING-TOP: 0px; BORDER-BOTTOM: #e2e2e2 1px solid; HEIGHT: 30px; TEXT-ALIGN: left
}
.entryheader SPAN {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; MARGIN: 0px 0px 0px 50px; COLOR: #666
}
.entryheader SPAN A {
	COLOR: #0457b3; TEXT-DECORATION: none
}
.entryheader SPAN A:visited {
	COLOR: #0457b3; TEXT-DECORATION: none
}
.entryheader SPAN A:hover {
	COLOR: #545454; TEXT-DECORATION: underline
}
.entrydate {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 5px; WIDTH: 590px; COLOR: #666; LINE-HEIGHT: 1.3em; PADDING-TOP: 0px; TEXT-ALIGN: center
}
.entrybody {
	PADDING-RIGHT: 10px; DISPLAY: inline; PADDING-LEFT: 10px; FONT-SIZE: 12px; FLOAT: left; PADDING-BOTTOM: 10px; OVERFLOW: hidden; WIDTH: 580px; LINE-HEIGHT: 150%; PADDING-TOP: 10px; TEXT-ALIGN: left
}
.entrybody P {
	MARGIN: 5px
}
.entrybody P A {
	COLOR: #0457b3; TEXT-DECORATION: none
}
.entrybody P A:visited {
	COLOR: #0457b3; TEXT-DECORATION: none
}
.entrybody P A:hover {
	COLOR: #222; TEXT-DECORATION: underline
}
.entrybody UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 580px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.entrybody UL LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 3px; MARGIN: 0px; OVERFLOW: hidden; WIDTH: 598px; PADDING-TOP: 0px; TEXT-ALIGN: left
}
.entrybody UL LI SPAN {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 600px; COLOR: #666; PADDING-TOP: 20px; BORDER-BOTTOM: #999 1px solid; TEXT-ALIGN: left
}
.review_pic {
	DISPLAY: inline; FLOAT: left; MARGIN: 5px 20px 0px 0px; OVERFLOW: hidden; WIDTH: 66px; HEIGHT: 82px
}
.review_pic IMG {
	BORDER-RIGHT: #8ba8d8 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #8ba8d8 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; MARGIN: 0px 0px 1px; OVERFLOW: hidden; BORDER-LEFT: #8ba8d8 1px solid; WIDTH: 60px; LINE-HEIGHT: 18px; PADDING-TOP: 2px; BORDER-BOTTOM: #8ba8d8 1px solid; HEIGHT: 60px
}
.review_contant {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 5px 0px 0px; OVERFLOW: hidden; WIDTH: 500px; PADDING-TOP: 0px
}
.review_contant P {
	MARGIN: 5px 0px
}
.line {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 5px 0px; FONT: 0px/1px sans-serif; WIDTH: 600px; PADDING-TOP: 0px; BORDER-BOTTOM: #bed6e0 1px solid; HEIGHT: 1px
}
#r_login {
	BORDER-RIGHT: #6f7b9f 1px solid; BORDER-TOP: #6f7b9f 1px solid; FONT-SIZE: 12px; BACKGROUND: #fff; BORDER-LEFT: #6f7b9f 1px solid; WIDTH: 260px; BORDER-BOTTOM: #6f7b9f 1px solid; HEIGHT: 200px; TEXT-ALIGN: left
}
#r_login P {
	MARGIN: 0px 5px 10px
}
.r_login_c {
	PADDING-RIGHT: 10px; PADDING-LEFT: 0px; BACKGROUND: #eee; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 10px; WIDTH: 250px; LINE-HEIGHT: 20px; PADDING-TOP: 0px; HEIGHT: 20px; TEXT-ALIGN: right
}
.narrow {
	PADDING-RIGHT: 0px; BORDER-TOP: #c5c6c6 1px solid; DISPLAY: inline; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 5px; MARGIN: 0px; WIDTH: 276px; PADDING-TOP: 0px; TEXT-ALIGN: left
}
.n_ad1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; BORDER-BOTTOM: #c5c6c6 1px solid; TEXT-ALIGN: center
}
.commend {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 1px; FLOAT: left; PADDING-BOTTOM: 10px; WIDTH: 274px; PADDING-TOP: 0px; BORDER-BOTTOM: #c5c6c6 1px solid
}
.commend P {
	MARGIN: 5px; TEXT-INDENT: 2em; LINE-HEIGHT: 1.5em; TEXT-ALIGN: left
}
.commend H5 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 25px; FONT-SIZE: 14px; BACKGROUND: url(../images/icon02.gif) no-repeat 4px 8px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #3d3d3d; LINE-HEIGHT: 40px; PADDING-TOP: 0px; HEIGHT: 40px; TEXT-ALIGN: left
}
.commend IMG {
	FLOAT: left; MARGIN: 0px 10px
}
.commend SPAN {
	FLOAT: left; MARGIN: 2px 0px 0px; WIDTH: 155px; COLOR: #555; LINE-HEIGHT: 18px
}
.commend UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 5px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; TEXT-ALIGN: left
}
.commend UL LI {
	PADDING-RIGHT: 3px; DISPLAY: block; PADDING-LEFT: 12px; FONT-SIZE: 14px; BACKGROUND: url(../images/arrow.gif) no-repeat 0px 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; OVERFLOW: hidden; LINE-HEIGHT: 1.3em; PADDING-TOP: 8px; TEXT-ALIGN: left
}
.mutuality UL LI A {
	COLOR: #000; TEXT-DECORATION: none
}
.n_ad2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 5px; WIDTH: 275px; PADDING-TOP: 5px; BORDER-BOTTOM: #c5c6c6 1px solid; TEXT-ALIGN: center
}
.n_ad3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 5px; WIDTH: 275px; PADDING-TOP: 5px; BORDER-BOTTOM: #c5c6c6 1px solid; TEXT-ALIGN: center
}
.line20 {
	CLEAR: both; MARGIN: 0px auto; HEIGHT: 20px
}
.footer {
	PADDING-RIGHT: 0px; BORDER-TOP: #b2b2b2 2px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 5px; MARGIN: 0px auto; WIDTH: 900px; COLOR: #545454; PADDING-TOP: 5px; TEXT-ALIGN: center
}
.footer P {
	MARGIN: 10px
}
.footer A {
	COLOR: #003366; TEXT-DECORATION: none
}
.footer A:visited {
	COLOR: #003366; TEXT-DECORATION: none
}
.footer A:hover {
	COLOR: #ff0000; TEXT-DECORATION: underline
}
.page_num {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 660px; PADDING-TOP: 0px
}
.page_num UL {
	CLEAR: left; PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none; TEXT-ALIGN: center
}
.page_num UL LI {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #ccc 1px solid; DISPLAY: block; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px 3px; BORDER-LEFT: #ccc 1px solid; WIDTH: 20px; LINE-HEIGHT: 20px; PADDING-TOP: 0px; BORDER-BOTTOM: #ccc 1px solid; HEIGHT: 20px; TEXT-ALIGN: center
}
.page_num UL LI.select {
	FONT-WEIGHT: bold; BACKGROUND: #fbd453
}
