BODY {
	PADDING-RIGHT: 30px; PADDING-LEFT: 30px; FONT-SIZE: 14px; PADDING-BOTTOM: 10px; MARGIN: 0px 20px 10px; PADDING-TOP: 0px; FONT-FAMILY: Arial; BACKGROUND-COLOR: #d9d6cb
}
IMG {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
TD {
	FONT-SIZE: 14px; FONT-FAMILY: Arial
}
A {
	COLOR: #223355; TEXT-DECORATION: none
}
A:hover {
	TEXT-DECORATION: underline
}
H1 {
	FONT-SIZE: 1.8em; MARGIN: 0px 0px 0px 5px; PADDING-TOP: 5px
}
H1 A:visited {
	MARGIN-TOP: 10px; COLOR: #fff; TEXT-DECORATION: none
}
H1 A:active {
	MARGIN-TOP: 10px; COLOR: #fff; TEXT-DECORATION: none
}
H1 A:link {
	MARGIN-TOP: 10px; COLOR: #fff; TEXT-DECORATION: none
}
H1 A:hover {
	MARGIN-TOP: 10px; COLOR: #fff; TEXT-DECORATION: none
}
H2 {
	MARGIN-TOP: 10px; FONT-SIZE: 1em
}
H5 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#top {
	VERTICAL-ALIGN: middle; WIDTH: 100%; COLOR: #cccccc; HEIGHT: 75px; BACKGROUND-COLOR: #20375f
}
#top TD {
	WIDTH: 100%; COLOR: #cccccc
}
#sub {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-SIZE: 14px; PADDING-BOTTOM: 4px; COLOR: #cccccc; PADDING-TOP: 4px; FONT-FAMILY: Arial; BACKGROUND-COLOR: black; TEXT-ALIGN: right
}
.headermaintitle {
	PADDING-BOTTOM: 10px; COLOR: #cccccc; FONT-FAMILY: "Trebuchet MS"
}
#subtitle {
	MARGIN-TOP: 10px; FONT-SIZE: 1em; MARGIN-LEFT: 6px; COLOR: #ffffff
}
P.date IMG {
	VERTICAL-ALIGN: middle
}
P.date {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 1.2em; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 2px; COLOR: #aaaaaa; PADDING-TOP: 2px; TEXT-ALIGN: right
}
P.date SPAN {
	BACKGROUND-COLOR: #fff
}
P.date A {
	COLOR: #888888
}
BLOCKQUOTE {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 4px; BORDER-TOP: 0px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; MARGIN: 0px; BORDER-LEFT: #cccccc 18px solid; PADDING-TOP: 4px; BORDER-BOTTOM: 0px; BACKGROUND-COLOR: #eeeeee
}
#leftmenu {
	PADDING-RIGHT: 0px; PADDING-LEFT: 5px; LEFT: 0px; PADDING-BOTTOM: 5px; WIDTH: 180px; PADDING-TOP: 0px; POSITION: relative; HEIGHT: 100%
}
#leftmenu H3 {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-SIZE: 14px; PADDING-BOTTOM: 4px; MARGIN: 0px; PADDING-TOP: 4px; BORDER-BOTTOM: #bbbbbb 1px solid
}
#leftmenu UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 13px; PADDING-BOTTOM: 0px; MARGIN: 5px 5px 5px 8px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#leftmenu LI {
	DISPLAY: block; MARGIN-BOTTOM: 2px
}
#leftmenu A:active {
	PADDING-RIGHT: 0px; DISPLAY: inline-block; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; COLOR: #000; MARGIN-RIGHT: 0px; PADDING-TOP: 0px; TEXT-DECORATION: none
}
#leftmenu A:visited {
	PADDING-RIGHT: 0px; DISPLAY: inline-block; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; COLOR: #000; MARGIN-RIGHT: 0px; PADDING-TOP: 0px; TEXT-DECORATION: none
}
#leftmenu A:link {
	PADDING-RIGHT: 0px; DISPLAY: inline-block; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; COLOR: #000; MARGIN-RIGHT: 0px; PADDING-TOP: 0px; TEXT-DECORATION: none
}
#leftmenu A:hover {
	BACKGROUND-COLOR: #ccd5e0
}
#main {
	PADDING-RIGHT: 0px; MARGIN-LEFT: 0px; MARGIN-RIGHT: 0px
}
#main H2 {
	FONT-SIZE: 14px
}
#main H3 {
	PADDING-LEFT: 10px; FONT-SIZE: 14px; MARGIN-LEFT: 10px; MARGIN-RIGHT: 10px; FONT-FAMILY: Arial
}
#main H4 {
	PADDING-LEFT: 10px; FONT-WEIGHT: normal; FONT-SIZE: 14px; MARGIN-LEFT: 10px; LINE-HEIGHT: 150%; MARGIN-RIGHT: 10px; FONT-FAMILY: Arial
}
#main .post {
	PADDING-LEFT: 5px; FONT-SIZE: 14px; LINE-HEIGHT: 150%; FONT-FAMILY: Arial
}
#footer {
	FONT-SIZE: 14px; MARGIN: 0px; PADDING-TOP: 5px; TEXT-ALIGN: center
}
INPUT.text {
	WIDTH: 300px
}
TEXTAREA {
	WIDTH: 300px; HEIGHT: 200px
}
#comments H4 SPAN {
	COLOR: #999
}
#comments H4 {
	FONT-SIZE: 0.9em; MARGIN: 0px
}
P {
	MARGIN: 0px 0px 14px
}
H3 {
	FONT-SIZE: 1.2em; BORDER-BOTTOM: #aaa 1px solid
}
#relatedlinks UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN-LEFT: 10px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.post {
	BORDER-RIGHT: #cccccc 2px solid; PADDING-RIGHT: 4px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 4px; MARGIN-BOTTOM: 28px; PADDING-BOTTOM: 4px; BORDER-LEFT: #cccccc 1px solid; PADDING-TOP: 4px; BORDER-BOTTOM: #cccccc 2px solid
}
.postbody A {
	COLOR: #1d58d1
}
.post H5 {
	FONT-SIZE: 14px; MARGIN: 0px 0px 4px
}
.post H2 {
	FONT-SIZE: 14px; MARGIN: 0px 0px 4px
}
.post .postfoot {
	BORDER-TOP: #dddddd 1px solid; FONT-SIZE: 14px; MARGIN: 14px 0px 0px; COLOR: #aaaaaa
}
PRE {
	FONT-SIZE: 1em; MARGIN: 0px 0px 0px 22px
}
.Textbox {
	BORDER-RIGHT: #aaaaaa 1px solid; BORDER-TOP: #aaaaaa 1px solid; BORDER-LEFT: #aaaaaa 1px solid; WIDTH: 100%; BORDER-BOTTOM: #aaaaaa 1px solid
}
TEXTAREA {
	BORDER-RIGHT: #aaaaaa 1px solid; BORDER-TOP: #aaaaaa 1px solid; BORDER-LEFT: #aaaaaa 1px solid; WIDTH: 100%; BORDER-BOTTOM: #aaaaaa 1px solid
}
.button {
	BORDER-RIGHT: #aaaaaa 1px solid; BORDER-TOP: #aaaaaa 1px solid; BORDER-LEFT: #aaaaaa 1px solid; BORDER-BOTTOM: #aaaaaa 1px solid; BACKGROUND-COLOR: #ccd4e0
}
INPUT {
	FONT-SIZE: 14px; FONT-FAMILY: Verdana, Geneva, Arial, Sans-Serif
}
TEXTAREA {
	FONT-SIZE: 14px; FONT-FAMILY: Verdana, Geneva, Arial, Sans-Serif
}
.Framework {
	BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; BORDER-LEFT: black 1px solid; WIDTH: 100%; BORDER-BOTTOM: black 1px solid; BACKGROUND-COLOR: #eeeeee
}
.MainCell {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; VERTICAL-ALIGN: top; BORDER-LEFT: #dddddd 1px solid; PADDING-TOP: 10px; BORDER-BOTTOM: #dddddd 1px solid; BACKGROUND-COLOR: white
}
.LeftCell {
	VERTICAL-ALIGN: top; WIDTH: 200px
}
.FooterCell {
	VERTICAL-ALIGN: top
}
.commentTextBox {
	FONT-SIZE: 14px; FONT-FAMILY: Arial
}
.Cal {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; MARGIN-TOP: 10px; FONT-SIZE: 13px; MARGIN-BOTTOM: 10px; MARGIN-LEFT: 0px; BORDER-LEFT: #999999 1px solid; WIDTH: 190px; BORDER-BOTTOM: #999999 1px solid; FONT-FAMILY: Arial; HEIGHT: 180px; BACKGROUND-COLOR: #eeeeee
}
.CalTitle {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 14px; BORDER-LEFT-COLOR: #adf; BORDER-BOTTOM-COLOR: #adf; PADDING-BOTTOM: 0px; MARGIN-LEFT: 0px; COLOR: #000; BORDER-TOP-COLOR: #adf; PADDING-TOP: 0px; FONT-FAMILY: Arial; HEIGHT: 100%; BACKGROUND-COLOR: #b6b6b6; BORDER-RIGHT-COLOR: #adf
}
.CalOtherMonthDay {
	COLOR: #808080
}
.CalSelector {
	
}
.CalNextPrev {
	
}
.CalDayHeader {
	BACKGROUND-COLOR: #cccccc
}
.CalSelectedDay {
	
}
.CalWeekendDay {
	
}
.CalTodayDay {
	FONT-WEIGHT: bolder; COLOR: blue
}
P {
	MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px
}
BLOCKQUOTE {
	WIDTH: 80%
}
DIV.RecentComment {
	WIDTH: 180px
}
