.stretch {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 15px; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 1px; PADDING-TOP: 0px; HEIGHT: 1px
}
.clear {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 15px; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 1px; PADDING-TOP: 0px; HEIGHT: 1px
}
.clearfix:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; HEIGHT: 0px; content: "."
}
.clearfix {
	
}
 HTML .clearfix {
	HEIGHT: 1%
}
UNKNOWN {
	HEIGHT: 1%
}
.clearfix {
	DISPLAY: block
}
.replace {
	BACKGROUND-POSITION: left top; DISPLAY: block; BACKGROUND-REPEAT: no-repeat; BACKGROUND-COLOR: transparent
}
.replace  {
	BACKGROUND-POSITION: left top; DISPLAY: block; TEXT-INDENT: -10000px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-COLOR: transparent
}
.replace A {
	TEXT-INDENT: 0px
}
.replace A SPAN {
	TEXT-INDENT: -10000px
}
SPAN.accesskey {
	TEXT-DECORATION: none
}
.accessibility {
	LEFT: -999em; POSITION: absolute; TOP: -999em
}
BODY {
	FONT-SIZE: 12px; COLOR: black; LINE-HEIGHT: 1.5; FONT-FAMILY: Arial, sans-serif, Helvetica, Tahoma; TEXT-ALIGN: left
}
IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 2em; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0.5em; COLOR: black; LINE-HEIGHT: 1.5em; PADDING-TOP: 0px
}
H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 1.5em; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0.5em; COLOR: black; LINE-HEIGHT: 1.5em; PADDING-TOP: 0px
}
H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 1.2em; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0.5em; COLOR: black; LINE-HEIGHT: 1.5em; PADDING-TOP: 0px
}
H4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 1.15em; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0.25em; COLOR: black; LINE-HEIGHT: 1.3em; PADDING-TOP: 0px
}
H5 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 1.1em; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0.25em; COLOR: black; LINE-HEIGHT: 1.3em; PADDING-TOP: 0px
}
H6 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 1em; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0.25em; COLOR: black; LINE-HEIGHT: 1.3em; PADDING-TOP: 0px
}
P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
BLOCKQUOTE {
	MARGIN-LEFT: 10px; BORDER-LEFT: #ddd 10px solid
}
PRE {
	FONT-SIZE: 1em; FONT-FAMILY: monospace
}
STRONG {
	FONT-WEIGHT: bold
}
B {
	FONT-WEIGHT: bold
}
EM {
	FONT-STYLE: italic
}
I {
	FONT-STYLE: italic
}
CODE {
	FONT-SIZE: 1em; FONT-FAMILY: "Courier New", Courier, monospace; WHITE-SPACE: pre
}
UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 1.5em; PADDING-TOP: 0px
}
UL LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0.25em 30px; PADDING-TOP: 0px
}
OL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 1em; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 1.5em; LINE-HEIGHT: 1.4em; PADDING-TOP: 0px
}
OL LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 1em; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0.25em 30px; PADDING-TOP: 0px
}
DL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 1.5em; LINE-HEIGHT: 1.4em; PADDING-TOP: 0px
}
DL DT {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0.25em 0px; PADDING-TOP: 0px
}
DL DD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 30px; PADDING-TOP: 0px
}
TH {
	FONT-WEIGHT: bold; TEXT-ALIGN: left
}
TD {
	FONT-SIZE: 1em
}
HR {
	BORDER-BOTTOM-WIDTH: thin; BORDER-BOTTOM-COLOR: black; MARGIN: 1.5em 10px; HEIGHT: 1px
}
DIV.topic_page {
	COLOR: #069
}
FORM {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
FORM DIV {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 1em; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 1em; PADDING-TOP: 0px
}
FORM P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 1em; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 1em; PADDING-TOP: 0px
}
LABEL {
	FONT-WEIGHT: bold; FLOAT: left; WIDTH: 25%
}
FIELDSET {
	BORDER-RIGHT: #eee 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #eee 1px solid; PADDING-LEFT: 10px; PADDING-BOTTOM: 5px; MARGIN: 0px; BORDER-LEFT: #eee 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #eee 1px solid
}
FIELDSET LEGEND {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 1.1em; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #666; PADDING-TOP: 0px
}
 HTML FIELDSET LEGEND {
	MARGIN: 0px 0px 10px -10px
}
FIELDSET UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 1.5em; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
FIELDSET UL LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0.5em; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
INPUT.text {
	BORDER-RIGHT: #069 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #069 1px solid; PADDING-LEFT: 3px; PADDING-BOTTOM: 1px; MARGIN: 0px; VERTICAL-ALIGN: middle; BORDER-LEFT: #069 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #069 1px solid
}
SELECT {
	BORDER-RIGHT: #069 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #069 1px solid; PADDING-LEFT: 3px; PADDING-BOTTOM: 1px; MARGIN: 0px; VERTICAL-ALIGN: middle; BORDER-LEFT: #069 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #069 1px solid
}
TEXTAREA {
	BORDER-RIGHT: #069 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #069 1px solid; PADDING-LEFT: 3px; PADDING-BOTTOM: 1px; MARGIN: 0px; VERTICAL-ALIGN: middle; BORDER-LEFT: #069 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #069 1px solid
}
INPUT.text {
	FONT-FAMILY: Arial, sans-serif, Verdana, Tahoma, Helvetica; HEIGHT: 18px
}
INPUT.check {
	MARGIN: 0px; WIDTH: auto; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: auto; BORDER-BOTTOM-STYLE: none
}
INPUT.radio {
	MARGIN: 0px; WIDTH: auto; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: auto; BORDER-BOTTOM-STYLE: none
}
INPUT.file {
	WIDTH: 250px; HEIGHT: auto
}
INPUT.readonly {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BACKGROUND-COLOR: transparent; BORDER-BOTTOM-STYLE: none
}
INPUT.button {
	BORDER-RIGHT: #d2f3fd 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #d2f3fd 1px solid; PADDING-LEFT: 5px; FONT-SIZE: 1em; BACKGROUND: #006699; PADDING-BOTTOM: 2px; VERTICAL-ALIGN: middle; BORDER-LEFT: #d2f3fd 1px solid; CURSOR: pointer; COLOR: white; PADDING-TOP: 2px; BORDER-BOTTOM: #d2f3fd 1px solid; HEIGHT: 23px
}
INPUT.submit {
	BORDER-RIGHT: #d2f3fd 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #d2f3fd 1px solid; PADDING-LEFT: 5px; FONT-SIZE: 1em; BACKGROUND: #006699; PADDING-BOTTOM: 2px; VERTICAL-ALIGN: middle; BORDER-LEFT: #d2f3fd 1px solid; CURSOR: pointer; COLOR: white; PADDING-TOP: 2px; BORDER-BOTTOM: #d2f3fd 1px solid; HEIGHT: 23px
}
INPUT.image {
	WIDTH: auto; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: auto; BORDER-BOTTOM-STYLE: none
}
TEXTAREA {
	FONT-SIZE: 1em
}
FORM DIV.submit {
	MARGIN: 1em 0px
}
FORM DIV.submit INPUT {
	WIDTH: 15em; HEIGHT: 2em
}
DIV#nav DIV.wrapper {
	FONT-SIZE: 13px; BACKGROUND: url(/images/shadow.png) #6293bb repeat-x left bottom; LEFT: 0px; PADDING-BOTTOM: 6px; WIDTH: 100%; BOTTOM: 0px; POSITION: absolute
}
DIV#nav UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 100%; PADDING-TOP: 0px
}
DIV#nav LI {
	PADDING-RIGHT: 10px; BACKGROUND-POSITION: right center; DISPLAY: inline; PADDING-LEFT: 10px; FLOAT: left; BACKGROUND-IMAGE: url(/images/line_white.gif); PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 1em; PADDING-TOP: 0px; BACKGROUND-REPEAT: no-repeat; LIST-STYLE-TYPE: none
}
DIV#nav LI.last {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
DIV#nav A {
	PADDING-RIGHT: 15px; DISPLAY: block; PADDING-LEFT: 15px; FONT-WEIGHT: bold; PADDING-BOTTOM: 7px; MARGIN: 0px; COLOR: white; PADDING-TOP: 7px; TEXT-DECORATION: none
}
DIV#nav A:link {
	PADDING-RIGHT: 15px; DISPLAY: block; PADDING-LEFT: 15px; FONT-WEIGHT: bold; PADDING-BOTTOM: 7px; MARGIN: 0px; COLOR: white; PADDING-TOP: 7px; TEXT-DECORATION: none
}
DIV#nav A:active {
	PADDING-RIGHT: 15px; DISPLAY: block; PADDING-LEFT: 15px; FONT-WEIGHT: bold; PADDING-BOTTOM: 7px; MARGIN: 0px; COLOR: white; PADDING-TOP: 7px; TEXT-DECORATION: none
}
DIV#nav A:visited {
	PADDING-RIGHT: 15px; DISPLAY: block; PADDING-LEFT: 15px; FONT-WEIGHT: bold; PADDING-BOTTOM: 7px; MARGIN: 0px; COLOR: white; PADDING-TOP: 7px; TEXT-DECORATION: none
}
DIV#nav A:hover {
	BACKGROUND-COLOR: #3671a5
}
DIV#nav A.selected {
	BACKGROUND-COLOR: #3671a5
}
DIV#content {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px auto 20px; WIDTH: 701px; PADDING-TOP: 0px; POSITION: relative; TEXT-ALIGN: left
}
DIV#main {
	WIDTH: 100%; PADDING-TOP: 28px
}
DIV#local {
	WIDTH: 100%
}
DIV#sub {
	WIDTH: 100%
}
DIV#nav {
	LEFT: 0px; WIDTH: 100%; POSITION: absolute; TOP: 0px; TEXT-ALIGN: left
}
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: white; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; TEXT-ALIGN: center
}
DIV#page {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: white; PADDING-BOTTOM: 0px; MARGIN: 0px auto; WIDTH: 950px; PADDING-TOP: 0px; TEXT-ALIGN: center
}
DIV#header {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: white; PADDING-TOP: 0px; BACKGROUND-COLOR: white
}
DIV#branding {
	FLOAT: left; MARGIN: 1px 0px; WIDTH: 200px; TEXT-ALIGN: left
}
DIV#search {
	PADDING-RIGHT: 20px; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 49%; PADDING-TOP: 16px; TEXT-ALIGN: right
}
DIV#content {
	MARGIN-TOP: 35px; WIDTH: 100%
}
DIV#footer {
	COLOR: black; BACKGROUND-COLOR: white
}
DIV#footer P {
	PADDING-RIGHT: 15px; PADDING-LEFT: 15px; FONT-SIZE: 0.8em; PADDING-BOTTOM: 15px; MARGIN: 0px; PADDING-TOP: 15px
}
UL.subnav {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 0.8em; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
UL.subnav LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 1em; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
UL.subnav LI A {
	FONT-WEIGHT: bold; COLOR: black; TEXT-DECORATION: none
}
UL.subnav LI A:link {
	FONT-WEIGHT: bold; COLOR: black; TEXT-DECORATION: none
}
UL.subnav LI A:visited {
	FONT-WEIGHT: bold; COLOR: black; TEXT-DECORATION: none
}
UL.subnav LI A:active {
	FONT-WEIGHT: bold; COLOR: black; TEXT-DECORATION: none
}
UL.subnav LI A:hover {
	TEXT-DECORATION: underline
}
UL.subnav LI STRONG {
	PADDING-RIGHT: 0px; PADDING-LEFT: 12px; BACKGROUND: url(../i/subnav-highlight.gif) no-repeat left top; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
UL.subnav LI STRONG A {
	COLOR: white; BACKGROUND-COLOR: black
}
UL.subnav LI STRONG A:link {
	COLOR: white; BACKGROUND-COLOR: black
}
UL.subnav LI STRONG A:visited {
	COLOR: white; BACKGROUND-COLOR: black
}
UL.subnav LI STRONG A:active {
	COLOR: white; BACKGROUND-COLOR: black
}
A {
	COLOR: #006699; TEXT-DECORATION: none
}
A:hover {
	COLOR: #bc2a4d; TEXT-DECORATION: underline
}
A:active {
	COLOR: #bc2a4d; TEXT-DECORATION: underline
}
BLOCKQUOTE {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid; BACKGROUND-COLOR: #fafafa
}
CITE {
	FONT-WEIGHT: bold; MARGIN-LEFT: 3px
}
DIV#user_nav {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FLOAT: right; PADDING-BOTTOM: 2px; MARGIN: 3px 0px 0px; PADDING-TOP: 2px; TEXT-ALIGN: right
}
DIV#user_nav A.nobg {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
DIV#user_nav A.welcome {
	PADDING-RIGHT: 10px; FONT-WEIGHT: bold; COLOR: #e28822
}
DIV#user_nav A.welcome:hover {
	COLOR: #e28822; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
DIV#user_nav A.new_reply {
	PADDING-LEFT: 0px; COLOR: red
}
DIV#user_nav A.new_reply:hover {
	COLOR: red; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
DIV#user_nav A {
	PADDING-RIGHT: 8px; BACKGROUND-POSITION: right center; PADDING-LEFT: 8px; BACKGROUND-IMAGE: url(/images/line_gray.gif); PADDING-BOTTOM: 5px; COLOR: gray; LINE-HEIGHT: 1em; PADDING-TOP: 5px; BACKGROUND-REPEAT: no-repeat; TEXT-DECORATION: none
}
DIV#user_nav A:hover {
	COLOR: white; BACKGROUND-COLOR: gray; TEXT-DECORATION: underline
}
DIV.quick_menu {
	BORDER-RIGHT: #dddddd 1px solid; BORDER-TOP: #dddddd 1px solid; Z-INDEX: 9999; BORDER-LEFT: #dddddd 1px solid; WIDTH: 70px; BORDER-BOTTOM: #dddddd 1px solid; POSITION: absolute; TOP: 30px; BACKGROUND-COLOR: white; TEXT-ALIGN: left
}
DIV.quick_menu A {
	PADDING-RIGHT: 6px! important; DISPLAY: block! important; PADDING-LEFT: 10px! important; BACKGROUND-IMAGE: none! important; PADDING-BOTTOM: 3px! important; LINE-HEIGHT: 20px! important; PADDING-TOP: 3px! important; TEXT-DECORATION: none! important
}
DIV#location_ad {
	BACKGROUND-POSITION: left center; MARGIN-TOP: 5px; PADDING-LEFT: 12px; FLOAT: left; BACKGROUND-IMAGE: url(/images/yellow_east_arrow.gif); BACKGROUND-REPEAT: no-repeat
}
DIV#site_nav UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 100%; LINE-HEIGHT: 1em; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
DIV#site_nav LI {
	BORDER-RIGHT: #aaa 1px solid; PADDING-RIGHT: 10px; DISPLAY: inline; PADDING-LEFT: 10px; PADDING-BOTTOM: 3px; MARGIN: 0px; LINE-HEIGHT: 1em; PADDING-TOP: 3px; LIST-STYLE-TYPE: none
}
DIV#site_nav LI.last {
	BORDER-RIGHT-STYLE: none
}
DIV#channel_nav {
	LEFT: 0px; POSITION: absolute; TOP: 0px
}
DIV#channel_nav UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 100%; LINE-HEIGHT: 1em; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
DIV#channel_nav LI {
	BORDER-RIGHT: #feddca 0px solid; BORDER-TOP: #feddca 1px solid; DISPLAY: inline; FLOAT: left; MARGIN: 0px; BORDER-LEFT: #feddca 1px solid; LINE-HEIGHT: 1em; BORDER-BOTTOM: #feddca 1px solid; LIST-STYLE-TYPE: none
}
DIV#channel_nav LI.last {
	BORDER-RIGHT: #feddca 1px solid
}
DIV#channel_nav A {
	PADDING-RIGHT: 25px; DISPLAY: block; PADDING-LEFT: 25px; PADDING-BOTTOM: 4px; MARGIN: 0px; COLOR: green; PADDING-TOP: 4px; TEXT-DECORATION: none
}
DIV#channel_nav A:hover {
	BACKGROUND-COLOR: #feddca
}
DIV#channel_nav A.selected {
	BACKGROUND-COLOR: #feddca
}
DIV#gg {
	FLOAT: right; MARGIN: 2px 0px; WIDTH: 728px
}
DIV#copyright {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px
}
.pagination {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FLOAT: right; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.pagination A {
	BORDER-RIGHT: #aaaadd 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #aaaadd 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; MARGIN: 2px; BORDER-LEFT: #aaaadd 1px solid; COLOR: #006699; PADDING-TOP: 2px; BORDER-BOTTOM: #aaaadd 1px solid; TEXT-DECORATION: none
}
.pagination A:link {
	BORDER-RIGHT: #aaaadd 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #aaaadd 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; MARGIN: 2px; BORDER-LEFT: #aaaadd 1px solid; COLOR: #006699; PADDING-TOP: 2px; BORDER-BOTTOM: #aaaadd 1px solid; TEXT-DECORATION: none
}
.pagination A:visited {
	BORDER-RIGHT: #aaaadd 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #aaaadd 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; MARGIN: 2px; BORDER-LEFT: #aaaadd 1px solid; COLOR: #006699; PADDING-TOP: 2px; BORDER-BOTTOM: #aaaadd 1px solid; TEXT-DECORATION: none
}
.pagination A:hover {
	BORDER-RIGHT: #006699 1px solid; BORDER-TOP: #006699 1px solid; BORDER-LEFT: #006699 1px solid; COLOR: #000; BORDER-BOTTOM: #006699 1px solid; TEXT-DECORATION: none
}
.pagination A:active {
	BORDER-RIGHT: #006699 1px solid; BORDER-TOP: #006699 1px solid; BORDER-LEFT: #006699 1px solid; COLOR: #000; BORDER-BOTTOM: #006699 1px solid; TEXT-DECORATION: none
}
.pagination SPAN.current {
	BORDER-RIGHT: #006699 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #006699 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bold; PADDING-BOTTOM: 2px; MARGIN: 2px; BORDER-LEFT: #006699 1px solid; COLOR: #fff; PADDING-TOP: 2px; BORDER-BOTTOM: #006699 1px solid; BACKGROUND-COLOR: #006699
}
.pagination SPAN.disabled {
	BORDER-RIGHT: #eee 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #eee 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; MARGIN: 2px; BORDER-LEFT: #eee 1px solid; COLOR: #ddd; PADDING-TOP: 2px; BORDER-BOTTOM: #eee 1px solid
}
A.underline {
	TEXT-DECORATION: underline
}
.underline A {
	TEXT-DECORATION: underline
}
.hilite1 {
	BACKGROUND-COLOR: #ff0
}
.hilite2 {
	BACKGROUND-COLOR: #5f5
}
.hilite3 {
	BACKGROUND-COLOR: #afa
}
.hilite4 {
	BACKGROUND-COLOR: #0ff
}
SPAN.arrow {
	FONT-WEIGHT: normal; FONT-SIZE: 0.9em; COLOR: #999
}
.validation-advice {
	PADDING-RIGHT: 0px; PADDING-LEFT: 3px; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #ff3300; PADDING-TOP: 0px
}
.odd {
	BACKGROUND-COLOR: #effaff
}
.highlight {
	FONT-WEIGHT: bold; COLOR: #e28822; TEXT-DECORATION: none
}
.highlight A {
	FONT-WEIGHT: bold; COLOR: #e28822; TEXT-DECORATION: none
}
.highlight A:link {
	FONT-WEIGHT: bold; COLOR: #e28822; TEXT-DECORATION: none
}
.highlight A:active {
	FONT-WEIGHT: bold; COLOR: #e28822; TEXT-DECORATION: none
}
.highlight A:visited {
	FONT-WEIGHT: bold; COLOR: #e28822; TEXT-DECORATION: none
}
.highlight A:hover {
	COLOR: #ffffff; BACKGROUND-COLOR: #e28822; TEXT-DECORATION: none
}
.rss {
	PADDING-RIGHT: 50px; BACKGROUND-POSITION: right center; BACKGROUND-IMAGE: url(/images/rss.png); MARGIN-RIGHT: 5px; BACKGROUND-REPEAT: no-repeat
}
.row1 {
	FONT-WEIGHT: bold; WIDTH: 155px; BACKGROUND-COLOR: #efefef
}
.row2 {
	BACKGROUND-COLOR: #dee3e7
}
.row3 {
	BACKGROUND-COLOR: #eee
}
.crumbs A {
	TEXT-DECORATION: underline
}
.flash_error {
	PADDING-RIGHT: 40px; PADDING-LEFT: 40px; FONT-WEIGHT: bold; PADDING-BOTTOM: 10px; MARGIN: 0px 10px; PADDING-TOP: 10px; BACKGROUND-REPEAT: no-repeat
}
.flash_notice {
	PADDING-RIGHT: 40px; PADDING-LEFT: 40px; FONT-WEIGHT: bold; PADDING-BOTTOM: 10px; MARGIN: 0px 10px; PADDING-TOP: 10px; BACKGROUND-REPEAT: no-repeat
}
.flash_error {
	BACKGROUND-IMAGE: url(/images/icon_error_lrg.gif); COLOR: #f30
}
.flash_notice {
	BACKGROUND-IMAGE: url(/images/icon_success_lrg.gif)
}
SELECT.validation-failed {
	BORDER-RIGHT: #ff0000 3px solid; BORDER-TOP: #ff0000 3px solid; BORDER-LEFT: #ff0000 3px solid; BORDER-BOTTOM: #ff0000 3px solid
}
INPUT.validation-failed {
	BORDER-RIGHT: #ff0000 3px solid; BORDER-TOP: #ff0000 3px solid; BORDER-LEFT: #ff0000 3px solid; BORDER-BOTTOM: #ff0000 3px solid
}
TEXTAREA.validation-failed {
	BORDER-RIGHT: #ff0000 3px solid; BORDER-TOP: #ff0000 3px solid; BORDER-LEFT: #ff0000 3px solid; BORDER-BOTTOM: #ff0000 3px solid
}
 HTML SELECT.validation-failed {
	BACKGROUND-COLOR: #ff0000
}
SPAN.field_error {
	DISPLAY: none
}
DIV.quote_title {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; PADDING-BOTTOM: 5px; MARGIN: 5px 0px 0px 15px; PADDING-TOP: 5px
}
DIV.quote_div {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 3px; BACKGROUND: #fafafa; PADDING-BOTTOM: 3px; MARGIN: 0px 5px 5px 15px; BORDER-LEFT: #ccc 1px solid; PADDING-TOP: 3px; BORDER-BOTTOM: #ccc 1px solid
}
DIV.attachments {
	BORDER-TOP: #999999 1px solid; MARGIN-TOP: 10px
}
DIV.attachments UL {
	LIST-STYLE-TYPE: none
}
DIV.postauthor UL {
	LIST-STYLE-TYPE: none
}
DIV.attachments UL {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; MARGIN: 5px; BORDER-LEFT: #cccccc 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #cccccc 1px solid
}
IMG.magplus {
	CURSOR: url(/images/magplus.gif), pointer
}
DIV.logo {
	PADDING-RIGHT: 6px; PADDING-LEFT: 2px; FLOAT: left; BACKGROUND-IMAGE: url(/images/logo_bg.gif); PADDING-BOTTOM: 6px; PADDING-TOP: 2px; BACKGROUND-REPEAT: no-repeat
}
SPAN.thumb_box {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; DISPLAY: block; FONT-SIZE: 90px; VERTICAL-ALIGN: middle; BORDER-LEFT: #ccc 1px solid; WIDTH: 130px; BORDER-BOTTOM: #ccc 1px solid; HEIGHT: 95px; TEXT-ALIGN: center
}
SPAN.thumb_box IMG {
	VERTICAL-ALIGN: middle
}
.right {
	FLOAT: right
}
.left {
	FLOAT: left
}
TABLE.bbcode {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; BORDER-BOTTOM: #ccc 1px solid
}
TABLE.bbcode TD {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; BORDER-LEFT: #ccc 1px solid; PADDING-TOP: 3px; BORDER-BOTTOM: #ccc 1px solid
}
DIV#search_engine_box {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; RIGHT: 0px; BORDER-LEFT: #ccc 1px solid; WIDTH: 240px; BOTTOM: 0px; BORDER-BOTTOM: #ccc 1px solid; POSITION: fixed; BACKGROUND-COLOR: white; TEXT-ALIGN: left
}
#search_engine_box H2 {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 5px; COLOR: white; PADDING-TOP: 5px; BACKGROUND-COLOR: #526ea6
}
#search_engine_box H2 SPAN {
	COLOR: black
}
#search_engine_box H2 A {
	RIGHT: 5px; COLOR: white; POSITION: absolute
}
#search_engine_box DIV {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#search_engine_box LI {
	MARGIN-LEFT: 15px; LIST-STYLE-TYPE: square
}
 HTML DIV#search_engine_box {
	RIGHT: auto; ; LEFT: expression( ( 0 - search_engine_box.offsetWidth + ( document.documentElement.clientWidth ? document.documentElement.clientWidth : document.body.clientWidth ) + ( ignoreMe2 = document.documentElement.scrollLeft ? document.documentElement.scrollLeft : document.body.scrollLeft ) ) + 'px' ); BOTTOM: auto; POSITION: absolute; ; TOP: expression( ( 0 - search_engine_box.offsetHeight + ( document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight ) + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ) ) + 'px' )
}
DIV#chat_button {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 2px; RIGHT: 10px; PADDING-BOTTOM: 2px; VERTICAL-ALIGN: middle; BORDER-LEFT: #ccc 1px solid; WIDTH: 80px; BOTTOM: 0px; PADDING-TOP: 2px; BORDER-BOTTOM: #ccc 1px solid; POSITION: fixed; BACKGROUND-COLOR: #eee; TEXT-ALIGN: right
}
DIV#chat_input {
	RIGHT: 10px; BOTTOM: 25px; POSITION: fixed; TEXT-ALIGN: left
}
#chat_iframe {
	WIDTH: 360px; BACKGROUND-COLOR: transparent
}
DIV#chat_button IMG {
	VERTICAL-ALIGN: middle
}
 HTML DIV#chat_button {
	RIGHT: auto; ; LEFT: expression( ( 0 - chat_button.offsetWidth + ( document.documentElement.clientWidth ? document.documentElement.clientWidth : document.body.clientWidth ) + ( ignoreMe2 = document.documentElement.scrollLeft ? document.documentElement.scrollLeft : document.body.scrollLeft ) ) + 'px' ); BOTTOM: auto; POSITION: absolute; ; TOP: expression( ( 0 - chat_button.offsetHeight + ( document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight ) + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ) ) + 'px' )
}
 HTML DIV#chat_input {
	RIGHT: auto; ; LEFT: expression( ( 0 - chat_input.offsetWidth + ( document.documentElement.clientWidth ? document.documentElement.clientWidth : document.body.clientWidth ) + ( ignoreMe2 = document.documentElement.scrollLeft ? document.documentElement.scrollLeft : document.body.scrollLeft ) ) + 'px' ); BOTTOM: auto; POSITION: absolute; ; TOP: expression( ( -25 - chat_input.offsetHeight + ( document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight ) + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ) ) + 'px' )
}
.tooltip {
	FONT-SIZE: 12px; Z-INDEX: 10000! important; OVERFLOW: hidden; POSITION: absolute! important
}
.tooltip .xtop {
	DISPLAY: block; FONT-SIZE: 1px; BACKGROUND: none transparent scroll repeat 0% 0%
}
.tooltip .xbottom {
	DISPLAY: block; FONT-SIZE: 1px; BACKGROUND: none transparent scroll repeat 0% 0%
}
.tooltip .xb1 {
	DISPLAY: block; OVERFLOW: hidden
}
.tooltip .xb2 {
	DISPLAY: block; OVERFLOW: hidden
}
.tooltip .xb3 {
	DISPLAY: block; OVERFLOW: hidden
}
.tooltip .xb4 {
	DISPLAY: block; OVERFLOW: hidden
}
.tooltip .xb1 {
	HEIGHT: 1px
}
.tooltip .xb2 {
	HEIGHT: 1px
}
.tooltip .xb3 {
	HEIGHT: 1px
}
.tooltip .xb2 {
	BORDER-RIGHT: #333 1px solid; BACKGROUND: #666; BORDER-LEFT: #333 1px solid
}
.tooltip .xb3 {
	BORDER-RIGHT: #333 1px solid; BACKGROUND: #666; BORDER-LEFT: #333 1px solid
}
.tooltip .xb4 {
	BORDER-RIGHT: #333 1px solid; BACKGROUND: #666; BORDER-LEFT: #333 1px solid
}
.tooltip .xbottom .xb2 {
	BACKGROUND: #666
}
.tooltip .xbottom .xb3 {
	BACKGROUND: #666
}
.tooltip .xbottom .xb4 {
	BACKGROUND: #666
}
.tooltip .xb1 {
	BACKGROUND: #333; MARGIN: 0px 5px
}
.tooltip .xb2 {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 2px; BORDER-BOTTOM-WIDTH: 0px; MARGIN: 0px 3px; BORDER-RIGHT-WIDTH: 2px
}
.tooltip .xb3 {
	MARGIN: 0px 2px
}
.tooltip .xb4 {
	MARGIN: 0px 1px; HEIGHT: 2px
}
.tooltip .xboxcontent {
	BORDER-RIGHT: #333 1px solid; PADDING-RIGHT: 20px; BORDER-TOP: #333 0px solid; PADDING-LEFT: 20px; FONT-SIZE: 125%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #333 1px solid; COLOR: #000; PADDING-TOP: 0px; BORDER-BOTTOM: #333 0px solid; BACKGROUND-COLOR: #666; TEXT-ALIGN: center; WORD-WRAP: break-word; text-shadow: 2px 2px 0px #CCC
}
DIV#site_nav {
	Z-INDEX: 1
}
DIV#channel_nav {
	Z-INDEX: 1
}
DIV#header {
	Z-INDEX: 2; POSITION: relative
}
.logo A:hover {
	
}
INPUT#login_button {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; FONT-SIZE: 0px; BACKGROUND: url(/images/login_button.jpg) no-repeat; BORDER-LEFT: 0px; WIDTH: 147px; CURSOR: pointer; COLOR: #0056ad; BORDER-BOTTOM: 0px; HEIGHT: 34px
}
DIV#forum_nav_tabs {
	WIDTH: 100%
}
DIV#forum_nav_tabs LI {
	FLOAT: left; LIST-STYLE-TYPE: none
}
DIV#forum_nav_content {
	WIDTH: 100%; BACKGROUND-COLOR: #ecf1f3
}
DIV.actions {
	MARGIN: 10px 0px 5px; HEIGHT: 30px
}
DIV.actions .wrapper {
	FLOAT: right; WIDTH: 750px
}
DIV.actions .wrapper .info {
	FLOAT: right; MARGIN: 5px 25px 0px 0px
}
DIV.actions .wrapper .info A {
	TEXT-DECORATION: underline
}
DIV.buttons {
	FLOAT: left
}
DIV.buttons SPAN {
	DISPLAY: none
}
DIV.buttons A {
	DISPLAY: block; WIDTH: 100px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 25px; TEXT-DECORATION: none
}
.new_topic {
	BACKGROUND-IMAGE: url(/images/post.gif)
}
.new_question {
	BACKGROUND-IMAGE: url(/images/ask.gif)
}
.new_post {
	BACKGROUND-IMAGE: url(/images/reply.gif)
}
.last_post {
	BACKGROUND-POSITION: right center; PADDING-LEFT: 15px; BACKGROUND-IMAGE: url(/images/icon_last_post.gif); BACKGROUND-REPEAT: no-repeat
}
TABLE#forum_main {
	BORDER-RIGHT: #006699 2px solid; BORDER-TOP: #006699 2px solid; BORDER-LEFT: #006699 2px solid; WIDTH: 100%; BORDER-BOTTOM: #006699 2px solid; BORDER-COLLAPSE: separate; BACKGROUND-COLOR: #ffffff
}
TABLE#forum_main TH {
	BACKGROUND-COLOR: #dee3e7
}
TABLE#forum_main TD {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
TABLE#forum_main THEAD TD {
	BORDER-TOP: white 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 1.1em; BACKGROUND-IMAGE: url(/images/bg_cel2.gif); COLOR: #ffa34f; TEXT-ALIGN: center
}
TABLE#forum_main THEAD TD.first_col {
	BORDER-LEFT: white 1px solid
}
TABLE#forum_main THEAD TD.last_col {
	BORDER-RIGHT: white 1px solid
}
TR.sep1 {
	HEIGHT: 8px; BACKGROUND-COLOR: #e4e4e4
}
TR.sep2 {
	HEIGHT: 8px; BACKGROUND-COLOR: #d1d7dc
}
TD.read_forum {
	BACKGROUND-POSITION: center center; BACKGROUND-REPEAT: no-repeat; BACKGROUND-COLOR: #efefef
}
TD.unread_forum {
	BACKGROUND-POSITION: center center; BACKGROUND-REPEAT: no-repeat; BACKGROUND-COLOR: #efefef
}
TD.topic_icon {
	BACKGROUND-POSITION: center center; BACKGROUND-REPEAT: no-repeat; BACKGROUND-COLOR: #efefef
}
TD.read_forum {
	WIDTH: 42px
}
TD.unread_forum {
	WIDTH: 42px
}
TD.read_forum {
	BACKGROUND-IMAGE: url(/images/read_forum.gif)
}
TD.unread_forum {
	BACKGROUND-IMAGE: url(/images/unread_forum.gif)
}
TD.topic_icon {
	WIDTH: 20px
}
TD.read_topic {
	BACKGROUND-IMAGE: url(/images/read_topic.gif)
}
TD.unread_topic {
	BACKGROUND-IMAGE: url(/images/unread_topic.gif)
}
TD.good_topic {
	BACKGROUND-IMAGE: url(/images/good_topic.gif)
}
TD.mid_topic {
	BACKGROUND-IMAGE: url(/images/mid_topic.gif)
}
TD.sticky_topic {
	BACKGROUND-IMAGE: url(/images/sticky_topic.gif)
}
TD.announcement_topic {
	BACKGROUND-IMAGE: url(/images/sticky_topic.gif)
}
TD.locked_topic {
	BACKGROUND-IMAGE: url(/images/locked_topic.gif)
}
TABLE.job_scroller TD.job_topic {
	BORDER-RIGHT: white 1px solid; BACKGROUND-IMAGE: url(/images/job_topic.gif)
}
TABLE.job_scroller TD {
	BORDER-TOP: white 1px solid
}
TABLE.job_scroller TD.topic_author {
	BACKGROUND-COLOR: #efefef
}
TABLE.job_scroller TD.topic_author {
	WIDTH: 300px
}
TD.topic_title {
	FONT-WEIGHT: bold; FONT-FAMILY: Tahoma; BACKGROUND-COLOR: #efefef
}
.topic_title .wrapper {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 14px; FLOAT: left; PADDING-BOTTOM: 3px; OVERFLOW: hidden; WIDTH: 660px; PADDING-TOP: 3px; TEXT-ALIGN: center
}
.topic_title .pages {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; FONT-WEIGHT: normal; PADDING-BOTTOM: 1px; MARGIN: 1px 1px 0px; PADDING-TOP: 1px
}
.topic_title .pages A {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; FONT-WEIGHT: normal; PADDING-BOTTOM: 1px; MARGIN: 1px 1px 0px; PADDING-TOP: 1px
}
.topic_title .pages SPAN {
	BACKGROUND-POSITION: left center; PADDING-LEFT: 15px; BACKGROUND-IMAGE: url(/images/icon_minipost.gif); BACKGROUND-REPEAT: no-repeat
}
TD.forum_description {
	BACKGROUND-COLOR: #efefef
}
TD.forum_description A {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; FONT-FAMILY: Tahoma; TEXT-DECORATION: underline
}
TD.forum_description A.forumtitle {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; FONT-FAMILY: Tahoma
}
TD.forum_index {
	TEXT-ALIGN: center
}
TD.topic_replies {
	TEXT-ALIGN: center
}
TD.topic_author {
	TEXT-ALIGN: center
}
TD.topic_view_count {
	TEXT-ALIGN: center
}
TD.topic_last_post {
	TEXT-ALIGN: center
}
TD.forum_index A {
	TEXT-DECORATION: underline
}
TD.topic_author A {
	TEXT-DECORATION: underline
}
TD.topic_last_post A {
	TEXT-DECORATION: underline
}
TD.forum_index A.last_post {
	TEXT-DECORATION: none
}
TD.topic_last_post A.last_post {
	TEXT-DECORATION: none
}
TD.forum_index {
	BACKGROUND-COLOR: #dee3e7
}
TD.topic_replies {
	BACKGROUND-COLOR: #dee3e7
}
TD.topic_view_count {
	BACKGROUND-COLOR: #dee3e7
}
TD.topic_author {
	BACKGROUND-COLOR: #d1d7dc
}
TD.topic_last_post {
	BACKGROUND-COLOR: #d1d7dc
}
TD.postauthor {
	VERTICAL-ALIGN: top; WIDTH: 125px; BACKGROUND-COLOR: #dee3e7
}
TD.postauthor IMG.logo {
	WIDTH: 120px
}
TD.postauthor LI {
	MARGIN-LEFT: 0px; LIST-STYLE-TYPE: none
}
TD.postauthor .name {
	FONT-WEIGHT: bold; FONT-SIZE: 1.1em; OVERFLOW: hidden; WIDTH: 120px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
TD.postcontent {
	VERTICAL-ALIGN: top; WIDTH: 798px; BACKGROUND-COLOR: #efefef
}
.icons {
	FLOAT: left
}
.icons A {
	DISPLAY: block; FLOAT: left; WIDTH: 70px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 20px; TEXT-DECORATION: none
}
.icons A:hover {
	BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
.icon_www {
	BACKGROUND-IMAGE: url(/images/icon_www.gif)
}
.icon_profile {
	BACKGROUND-IMAGE: url(/images/icon_profile.gif)
}
.icon_pm {
	BACKGROUND-IMAGE: url(/images/icon_pm.gif)
}
.icon_guestbook {
	BACKGROUND-IMAGE: url(/images/icon_guestbook.gif)
}
.icon_rss {
	BACKGROUND-IMAGE: url(/images/icon_feed.gif)
}
DIV.quick_reply {
	FLOAT: right; WIDTH: 500px
}
DIV.quick_reply SPAN {
	PADDING-RIGHT: 50px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; COLOR: #069; PADDING-TOP: 0px
}
DIV.quick_reply SPAN.last {
	PADDING-RIGHT: 0px; PADDING-LEFT: 20px; PADDING-BOTTOM: 0px; COLOR: gray; PADDING-TOP: 0px
}
DIV.quick_reply TEXTAREA {
	MARGIN-TOP: 5px; WIDTH: 480px; HEIGHT: 160px
}
#forum_search_box {
	FLOAT: right; HEIGHT: 25px
}
.crumbs {
	FONT-SIZE: 1.1em; FLOAT: left; COLOR: #069
}
.crumbs A {
	MARGIN-LEFT: 5px
}
.crumbs SPAN {
	MARGIN-LEFT: 5px
}
.crumbs SELECT {
	MARGIN-LEFT: 10px
}
.crumbs H1 {
	DISPLAY: inline; FONT-WEIGHT: normal; FONT-SIZE: 1em; COLOR: #069
}
#forum_tag_list {
	MARGIN: 10px 0px 0px 25px; WIDTH: 100%; HEIGHT: 20px
}
#forum_tag_list A {
	PADDING-RIGHT: 7px; PADDING-LEFT: 7px; PADDING-BOTTOM: 2px; LINE-HEIGHT: 100%; PADDING-TOP: 2px; TEXT-DECORATION: underline
}
#forum_action UL {
	MARGIN-TOP: 10px; LINE-HEIGHT: 2em; LIST-STYLE-TYPE: none
}
#forum_action LI {
	FLOAT: left; MARGIN: 0px 30px 0px 0px; LIST-STYLE-TYPE: none
}
#forum_tab_show DIV {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; FLOAT: left; MARGIN: 0px 10px 10px 0px; OVERFLOW: hidden; BORDER-LEFT: #ccc 1px solid; WIDTH: 370px; BORDER-BOTTOM: #ccc 1px solid; HEIGHT: 180px
}
#forum_tab_show DIV.last {
	WIDTH: 180px; MARGIN-RIGHT: 0px
}
#forum_tab_show UL {
	PADDING-TOP: 10px; LIST-STYLE-TYPE: none
}
#forum_tab_show UL LI {
	PADDING-LEFT: 20px; BACKGROUND: url(/images/board-tab-list.png) no-repeat left center; MARGIN-BOTTOM: 10px; MARGIN-LEFT: 15px
}
#slides SPAN.pagination {
	RIGHT: 580px; POSITION: absolute; TOP: 180px
}
#topic_actions {
	PADDING-TOP: 12px; HEIGHT: 24px; BACKGROUND-COLOR: #345787
}
DIV#topic_title {
	PADDING-LEFT: 50px; FONT-WEIGHT: bold; FLOAT: left; COLOR: white
}
SPAN.locked {
	COLOR: gray
}
TH.topic_title {
	BORDER-RIGHT: white 1px solid; BORDER-TOP: white 1px solid; BORDER-LEFT: white 1px solid; BORDER-BOTTOM: #d1d7dc 4px solid
}
#topic_rate_box {
	PADDING-RIGHT: 5px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FLOAT: right; PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
#topic_rate_box A {
	FONT-WEIGHT: normal; TEXT-DECORATION: underline
}
.postactions {
	PADDING-RIGHT: 20px; PADDING-LEFT: 10px; BORDER-LEFT-COLOR: gray; PADDING-BOTTOM: 25px; BORDER-TOP-COLOR: gray; PADDING-TOP: 3px; BORDER-BOTTOM: gray 1px solid; BORDER-RIGHT-COLOR: gray
}
.postactions .description {
	FLOAT: left; OVERFLOW: hidden; WIDTH: 430px; COLOR: #069; HEIGHT: 18px
}
.postactions .links {
	FLOAT: right; WIDTH: 300px; TEXT-ALIGN: right
}
.postactions .links A {
	PADDING-RIGHT: 5px; PADDING-LEFT: 20px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; BACKGROUND-REPEAT: no-repeat; TEXT-DECORATION: underline
}
.postactions .links A.edit {
	BACKGROUND-IMAGE: url(/images/icon_edit.gif)
}
.postactions .links A.quote {
	BACKGROUND-IMAGE: url(/images/icon_quote.gif)
}
.postactions .links A.add_blog {
	BACKGROUND-IMAGE: url(/images/icon_add_blog.gif)
}
.postactions .links A.favorite {
	BACKGROUND-IMAGE: url(/images/icon_favorite.gif)
}
.postactions .links A.space {
	BACKGROUND-IMAGE: url(/images/icon_space.gif)
}
.postbody {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; MIN-HEIGHT: 120px; PADDING-BOTTOM: 1px; WIDTH: 790px; PADDING-TOP: 20px; FONT-FAMILY: Tahoma
}
#forum_action A {
	TEXT-DECORATION: underline
}
#online_status A {
	TEXT-DECORATION: underline
}
.postbody A {
	TEXT-DECORATION: underline
}
#preview A {
	TEXT-DECORATION: underline
}
.postauthor_actions {
	BORDER-TOP: gray 1px solid; MARGIN-TOP: 10px; BORDER-LEFT-COLOR: gray; BORDER-BOTTOM-COLOR: gray; PADDING-TOP: 2px; BORDER-RIGHT-COLOR: gray
}
.postauthor_actions .icons {
	FLOAT: left
}
.post_rate_box {
	FLOAT: right; WIDTH: 225px
}
.post_rate_box A {
	PADDING-RIGHT: 0px; PADDING-LEFT: 25px; PADDING-BOTTOM: 3px; MARGIN-LEFT: 10px; COLOR: black; LINE-HEIGHT: 1.4em; PADDING-TOP: 3px; BACKGROUND-REPEAT: no-repeat; TEXT-DECORATION: none
}
.post_rate_box .good {
	BACKGROUND-IMAGE: url(/images/icon_good.gif)
}
.post_rate_box .hidden {
	BACKGROUND-IMAGE: url(/images/icon_bad.gif)
}
.post_rate_box A SPAN {
	DISPLAY: none
}
#topic_copyright {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 10px; COLOR: gray; PADDING-TOP: 10px; BORDER-BOTTOM: gray 1px inset
}
#related_topics {
	BORDER-RIGHT: gray 1px dashed; PADDING-RIGHT: 5px; BORDER-TOP: gray 1px dashed; PADDING-LEFT: 5px; FLOAT: right; PADDING-BOTTOM: 5px; MARGIN: 0px 5px; OVERFLOW: hidden; BORDER-LEFT: gray 1px dashed; WIDTH: 200px; CURSOR: move; PADDING-TOP: 5px; BORDER-BOTTOM: gray 1px dashed; BACKGROUND-COLOR: #fdfbdb
}
#related_topics SPAN.close {
	MARGIN-LEFT: 125px
}
#related_topics SPAN.close A {
	PADDING-RIGHT: 4px; BACKGROUND-POSITION: center center; PADDING-LEFT: 4px; BACKGROUND-IMAGE: url(/images/icon_close.jpg); PADDING-BOTTOM: 4px; PADDING-TOP: 4px; BACKGROUND-REPEAT: no-repeat; TEXT-DECORATION: none
}
#related_topics LI {
	MARGIN: 5px 5px 5px 15px; LIST-STYLE-TYPE: square
}
#online_status {
	BORDER-RIGHT: #006699 2px solid; PADDING-RIGHT: 2px; BORDER-TOP: #006699 2px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; BORDER-LEFT: #006699 2px solid; WIDTH: 945px; PADDING-TOP: 2px; BORDER-BOTTOM: #006699 2px solid; BACKGROUND-COLOR: #efefef
}
#online_status H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 8px; FONT-WEIGHT: normal; FONT-SIZE: 1em; PADDING-BOTTOM: 0px; PADDING-TOP: 8px; HEIGHT: 19px; BACKGROUND-COLOR: #d1d7dc
}
DIV#online_status A#show_list {
	BACKGROUND-POSITION: left center; PADDING-LEFT: 15px; MARGIN-LEFT: 10px; BACKGROUND-REPEAT: no-repeat
}
DIV#online_status A#hide_list {
	BACKGROUND-POSITION: left center; PADDING-LEFT: 15px; MARGIN-LEFT: 10px; BACKGROUND-REPEAT: no-repeat
}
DIV#online_status A#all_list {
	BACKGROUND-POSITION: left center; PADDING-LEFT: 15px; MARGIN-LEFT: 10px; BACKGROUND-REPEAT: no-repeat
}
DIV#online_status A#show_list {
	BACKGROUND-IMAGE: url(/images/green_down_arrow.gif)
}
DIV#online_status A#hide_list {
	BACKGROUND-IMAGE: url(/images/green_down_arrow.gif)
}
DIV#online_status A#all_list {
	BACKGROUND-IMAGE: url(/images/green_right_arrow.gif)
}
DIV#new_wiki_page {
	MARGIN-TOP: 3px
}
#online_users {
	MARGIN: 8px 0px 0px 40px
}
.row2 {
	WIDTH: 750px
}
.row4 {
	BACKGROUND-IMAGE: url(/images/bg_cel1.gif)
}
#forum_recommended_f0 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 0px
}
#forum_recommended_f4 {
	MARGIN-TOP: 5px; FLOAT: left
}
#forum_recommended_f5 {
	MARGIN-TOP: 5px; COLOR: gray; PADDING-TOP: 5px
}
#forum_recommended_f6 {
	BORDER-RIGHT: #e28822 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #e28822 1px solid; MARGIN-TOP: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; BORDER-LEFT: #e28822 1px solid; WIDTH: 380px; PADDING-TOP: 10px; BORDER-BOTTOM: #e28822 1px solid
}
#forum_recommended_f6 SPAN {
	FONT-WEIGHT: bold; COLOR: #e28822
}
