BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #4f4f4f; LINE-HEIGHT: 14pt; PADDING-TOP: 0px; BACKGROUND-REPEAT: repeat; FONT-FAMILY: Arial,Helvetica,ו,sans-serif,Times,serif,Courier,monospace; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: left
}
FIELDSET#container {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; MARGIN: 10px auto; WIDTH: 1008px; POSITION: relative; BORDER-RIGHT-WIDTH: 0px
}
FIELDSET {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 1px; BORDER-TOP: 0px; MARGIN: 0px auto; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
FIELDSET.class_A {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; MARGIN: 4px 0px 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
UL.class_A {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
LI.user {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; WIDTH: 100%; COLOR: #ffffff; LINE-HEIGHT: 32px; HEIGHT: 32px; BACKGROUND-COLOR: #9d8d7d
}
LI.class_A {
	PADDING-RIGHT: 0px; WIDTH: 33%; MARGIN-RIGHT: 0px
}
LI {
	FLOAT: left
}
LEGEND {
	DISPLAY: none
}
DIV {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
UL {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
LI {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
DIV.window {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; MARGIN: 0px; WIDTH: 1008px; BORDER-RIGHT-WIDTH: 0px
}
DIV#head {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 1008px; PADDING-TOP: 0px; POSITION: relative; HEIGHT: 162px; BORDER-RIGHT-WIDTH: 0px
}
DIV#content {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; LEFT: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 1008px; PADDING-TOP: 0px; POSITION: relative; TOP: 160px; BACKGROUND-COLOR: #ffff66; BORDER-RIGHT-WIDTH: 0px
}
DIV.foot {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; LEFT: 0px; BORDER-BOTTOM-WIDTH: 0px; MARGIN: 0px; WIDTH: 1008px; POSITION: relative; BACKGROUND-COLOR: #ffffff; BORDER-RIGHT-WIDTH: 0px
}
DIV.friendship {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; LEFT: 0px; BORDER-BOTTOM-WIDTH: 0px; MARGIN: 0px auto; WIDTH: 1008px; BACKGROUND-COLOR: #c0c0c0; BORDER-RIGHT-WIDTH: 0px
}
DIV#pagebody1 {
	MARGIN: 0px auto; WIDTH: 808px; HEIGHT: 100%
}
DIV#pagebodyClassA {
	MARGIN: 0px auto; WIDTH: 1008px; HEIGHT: 100%
}
DIV.sidebar {
	BORDER-TOP-WIDTH: 0px; CLEAR: left; PADDING-RIGHT: 1px; PADDING-LEFT: 1px; BORDER-LEFT-WIDTH: 0px; FLOAT: left; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 1px; WORD-SPACING: 1px; OVERFLOW: hidden; WIDTH: 460px; PADDING-TOP: 1px; HEIGHT: 100%; TEXT-ALIGN: left; BORDER-RIGHT-WIDTH: 0px
}
DIV.mainbody {
	BORDER-TOP-WIDTH: 0px; CLEAR: right; PADDING-RIGHT: 1px; PADDING-LEFT: 1px; BORDER-LEFT-WIDTH: 0px; FLOAT: right; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 1px; WORD-SPACING: 1px; OVERFLOW: hidden; WIDTH: 348px; PADDING-TOP: 1px; HEIGHT: 100%; TEXT-ALIGN: left; BORDER-RIGHT-WIDTH: 0px
}
DIV.sidebar1 {
	BORDER-TOP-WIDTH: 0px; CLEAR: left; PADDING-RIGHT: 1px; PADDING-LEFT: 1px; BORDER-LEFT-WIDTH: 0px; FLOAT: left; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 1px; WORD-SPACING: 1px; OVERFLOW: hidden; WIDTH: 266px; PADDING-TOP: 1px; HEIGHT: 100%; TEXT-ALIGN: left; BORDER-RIGHT-WIDTH: 0px
}
DIV.sidebar2 {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 1px; PADDING-LEFT: 1px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 1px; WORD-SPACING: 1px; MARGIN-LEFT: 276px; OVERFLOW: auto; WIDTH: 266px; PADDING-TOP: 1px; HEIGHT: 100%; TEXT-ALIGN: left; BORDER-RIGHT-WIDTH: 0px
}
DIV.sidebar3 {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 1px; PADDING-LEFT: 1px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 1px; WORD-SPACING: 1px; MARGIN-LEFT: 540px; OVERFLOW: auto; WIDTH: 266px; PADDING-TOP: 1px; HEIGHT: 100%; TEXT-ALIGN: left; BORDER-RIGHT-WIDTH: 0px
}
DIV.marquee {
	BORDER-TOP-WIDTH: 0px; CLEAR: left; PADDING-RIGHT: 1px; PADDING-LEFT: 1px; BORDER-LEFT-WIDTH: 0px; FLOAT: left; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 1px; WORD-SPACING: 1px; OVERFLOW: hidden; WIDTH: 460px; PADDING-TOP: 1px; HEIGHT: 24px; TEXT-ALIGN: left; BORDER-RIGHT-WIDTH: 0px
}
DIV.banner {
	CLEAR: both; BACKGROUND: url(banner.jpg) no-repeat 0px 30px; MARGIN: 0px auto; WIDTH: 1008px; BORDER-BOTTOM: #6699cc 1px solid; HEIGHT: 1px
}
DIV.header_A {
	BORDER-TOP-WIDTH: 0px; CLEAR: left; BORDER-LEFT-WIDTH: 0px; FLOAT: left; BORDER-BOTTOM-WIDTH: 0px; OVERFLOW: hidden; WIDTH: 1008px; HEIGHT: 36px; BACKGROUND-COLOR: #827064; TEXT-ALIGN: center; BORDER-RIGHT-WIDTH: 0px
}
DIV.header_B {
	BORDER-TOP-WIDTH: 0px; CLEAR: left; BORDER-LEFT-WIDTH: 0px; FLOAT: left; BORDER-BOTTOM-WIDTH: 0px; OVERFLOW: hidden; WIDTH: 1008px; HEIGHT: 24px; BACKGROUND-COLOR: #afa899; TEXT-ALIGN: center; BORDER-RIGHT-WIDTH: 0px
}
DIV.header_C {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 1008px; PADDING-TOP: 0px; HEIGHT: 32px; BACKGROUND-COLOR: #c8bda9; BORDER-RIGHT-WIDTH: 0px
}
LI.menuDiv_A {
	BACKGROUND: #ffffff; MARGIN-LEFT: 3px; WIDTH: 1px; MARGIN-RIGHT: 3px; HEIGHT: 15px
}
LI.menuDiv_B {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: #ffffff; BORDER-BOTTOM-WIDTH: 0px; MARGIN-LEFT: 3px; WIDTH: 1px; MARGIN-RIGHT: 3px; HEIGHT: 12px; BORDER-RIGHT-WIDTH: 0px
}
DIV.menu {
	FLOAT: right; MARGIN: 0px; WIDTH: 1008px; LIST-STYLE-TYPE: none
}
UL.tr3 {
	BORDER-TOP-WIDTH: 0px; CLEAR: left; BORDER-LEFT-WIDTH: 0px; FLOAT: left; BORDER-BOTTOM-WIDTH: 0px; OVERFLOW: hidden; WIDTH: 1008px; HEIGHT: 36px; BACKGROUND-COLOR: #827064; TEXT-ALIGN: center; BORDER-RIGHT-WIDTH: 0px
}
UL.ul_A {
	PADDING-RIGHT: 4px; MARGIN-TOP: 10px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; MARGIN-LEFT: 70px; PADDING-TOP: 4px; LIST-STYLE-TYPE: none; TEXT-ALIGN: center
}
UL.ul_B {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; MARGIN-LEFT: 30px; PADDING-TOP: 4px; LIST-STYLE-TYPE: none
}
UL.ul_C {
	MARGIN-TOP: 0px; MARGIN-LEFT: 80px; LIST-STYLE-TYPE: none; TEXT-ALIGN: center
}
UL.ul_D {
	PADDING-RIGHT: 0px; MARGIN-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN-LEFT: 270px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none; TEXT-ALIGN: center
}
TABLE {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WORD-SPACING: 1px; PADDING-TOP: 0px
}
TABLE.tableclass0 {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; MARGIN: 0px; WORD-SPACING: 1px; PADDING-TOP: 1px
}
TR.class0 {
	BACKGROUND-COLOR: #f4f4e9
}
TR.class1 {
	BACKGROUND-COLOR: #f4f4e9
}
TD.tdclass0 {
	
}
H1 {
	FONT-WEIGHT: bold; FONT-SIZE: 24px; LINE-HEIGHT: 24pt
}
H2 {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; LINE-HEIGHT: 18pt
}
H3 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; LINE-HEIGHT: 14pt
}
H4 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px
}
H5 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px
}
H6 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px
}
P {
	LINE-HEIGHT: 1.2em
}
TH {
	COLOR: #ffffff; HEIGHT: 32px; BACKGROUND-COLOR: #9d8d7d
}
TH.class1 {
	FONT-SIZE: 14px; BACKGROUND-COLOR: #9d8d7d
}
TH.class2 {
	FONT-SIZE: 14px; COLOR: #ffffff; HEIGHT: 32px; BACKGROUND-COLOR: #9d8d7d
}
TH.class3 {
	FONT-SIZE: 14px; COLOR: #ffffff; HEIGHT: 32px; BACKGROUND-COLOR: #9d8d7d
}
TH.class4 {
	FONT-SIZE: 14px; COLOR: #ffffff; HEIGHT: 32px; BACKGROUND-COLOR: #9d8d7d
}
TH.class5 {
	FONT-SIZE: 14px; COLOR: #ffffff; HEIGHT: 32px; BACKGROUND-COLOR: #9d8d7d
}
TH.class6 {
	FONT-SIZE: 14px; COLOR: #ffffff; HEIGHT: 32px; BACKGROUND-COLOR: #9d8d7d
}
TH.class7 {
	FONT-SIZE: 14px; COLOR: #ffffff; HEIGHT: 32px; BACKGROUND-COLOR: #9d8d7d
}
TH.class8 {
	FONT-SIZE: 14px; COLOR: #ffffff; HEIGHT: 32px; BACKGROUND-COLOR: #9d8d7d
}
TH.class9 {
	FONT-SIZE: 14px; COLOR: #ffffff; HEIGHT: 32px; BACKGROUND-COLOR: #9d8d7d
}
TH.class11 {
	FONT-SIZE: 14px; COLOR: #ffffff; HEIGHT: 32px; BACKGROUND-COLOR: #9d8d7d
}
TH.class12 {
	FONT-SIZE: 14px; COLOR: #ffffff; HEIGHT: 32px; BACKGROUND-COLOR: #9d8d7d
}
TH.class13 {
	FONT-SIZE: 14px; COLOR: #ffffff; HEIGHT: 32px; BACKGROUND-COLOR: #cc0099
}
A {
	FONT-SIZE: 12px; COLOR: #4f4f4f
}
A:link {
	TEXT-DECORATION: none
}
A:hover {
	BACKGROUND-COLOR: #ff99ff; TEXT-DECORATION: underline
}
A:visited {
	TEXT-DECORATION: none
}
A:active {
	TEXT-DECORATION: none
}
A.bold {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #ffffff
}
A.nobold {
	FONT-SIZE: 12px; COLOR: #ffffff
}
A.header1 {
	FONT-WEIGHT: bold; FONT-SIZE: 15px; COLOR: #ffffff
}
A.header2 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff
}
A.header3 {
	FONT-SIZE: 12px; COLOR: #ffffff
}
A.header4 {
	FONT-SIZE: 12px; COLOR: #ffffff
}
A.subMenu {
	FONT-SIZE: 14px; COLOR: #0099cc; LINE-HEIGHT: 24px
}
A.onetilte {
	FONT-SIZE: 12px; COLOR: #333333; LINE-HEIGHT: 24px
}
A.title {
	COLOR: #4f4f4f
}
A.classname {
	COLOR: #0099cc
}
EM.onehints {
	FONT-SIZE: 12px; COLOR: #cc9966
}
EM.onearticleid {
	COLOR: #4f4f4f
}
EM.datate {
	FONT-SIZE: 12px; COLOR: #4f4fcc
}
LEGEND {
	DISPLAY: none
}
FIELDSET.web_800 {
	MARGIN-TOP: 0px; MARGIN-LEFT: 2px; WIDTH: 808px
}
FIELDSET.web_2 {
	WIDTH: 808px; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
DIV.web2 {
	MARGIN-LEFT: auto; WIDTH: 804px; HEIGHT: 100%
}
DIV.table_tr {
	BORDER-TOP-WIDTH: 0px; CLEAR: left; MARGIN-TOP: 10px; BORDER-LEFT-WIDTH: 0px; FLOAT: left; BORDER-BOTTOM-WIDTH: 0px; OVERFLOW: hidden; WIDTH: 804px; TEXT-ALIGN: left; BORDER-RIGHT-WIDTH: 0px
}
DIV.web_800 {
	BORDER-TOP-WIDTH: 0px; CLEAR: left; MARGIN-TOP: 2px; BORDER-LEFT-WIDTH: 0px; FLOAT: left; BORDER-BOTTOM-WIDTH: 0px; MARGIN-LEFT: 2px; OVERFLOW: hidden; WIDTH: 808px; HEIGHT: 100%; TEXT-ALIGN: left; BORDER-RIGHT-WIDTH: 0px
}
UL.web2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; RIGHT: 0px; LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; BOTTOM: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none; TOP: 0px
}
UL.web_400 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 808px; PADDING-TOP: 0px
}
LI.web_400 {
	MARGIN-LEFT: 4px; WIDTH: 398px
}
LI.web2 {
	WIDTH: 200px
}
LI.mapgif {
	BACKGROUND: url(/images/GIF/whx0000.gif) no-repeat; WIDTH: 24px; HEIGHT: 24px
}
LI.titileA {
	FONT-WEIGHT: bold; FONT-SIZE: 24px; WIDTH: 804px; COLOR: #ffffff; LINE-HEIGHT: 32px; HEIGHT: 48px; BACKGROUND-COLOR: #666666; TEXT-ALIGN: center
}
LI.titileB {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; WIDTH: 804px; COLOR: #ffffff; LINE-HEIGHT: 24px; HEIGHT: 32px; BACKGROUND-COLOR: #999966; TEXT-ALIGN: center
}
LI.titileC {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; WIDTH: 804px; COLOR: #ffffff; LINE-HEIGHT: 28px; HEIGHT: 28px; BACKGROUND-COLOR: #9d8d7d; TEXT-ALIGN: center
}
.menuDiv {
	BACKGROUND: #999; WIDTH: 1px; HEIGHT: 28px
}
UL {
	MARGIN: 0px; LIST-STYLE-TYPE: none
}
LI {
	MARGIN: 0px; LIST-STYLE-TYPE: none
}
DIV.usersidebar {
	BORDER-TOP-WIDTH: 0px; CLEAR: left; BORDER-LEFT-WIDTH: 0px; FLOAT: left; BORDER-BOTTOM-WIDTH: 0px; OVERFLOW: hidden; WIDTH: 135px; TEXT-ALIGN: left; BORDER-RIGHT-WIDTH: 0px
}
DIV.usermainbody {
	BORDER-TOP-WIDTH: 0px; CLEAR: right; BORDER-LEFT-WIDTH: 0px; FLOAT: right; BORDER-BOTTOM-WIDTH: 0px; OVERFLOW: hidden; WIDTH: 190px; TEXT-ALIGN: left; BORDER-RIGHT-WIDTH: 0px
}
